<div class="center-wrapper">

    <div class="left">@DateTime.Now.ToLongDateString() <span class="text-separator"></span> <span class="quiet"></span></div>
	<div class="right">

		<!--<ul class="tabbed" id="network-tabs">
			<li class="current-tab"><a href="#">Simple Magazine</a></li>
			<li><a href="#">Network site</a></li>
			<li><a href="#">Network site 2</a></li>
		</ul>-->

		<div class="clearer">&nbsp;</div>
		
	</div>
		
	<div class="clearer">&nbsp;</div>

</div>

