@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Servicio de Salud Atacama";
}

<h2>
    Lo sentimos, un error ha ocurrido mientras se procesaba su solicitud.
</h2>

<div>@Model.Exception.ToString()</div>
