@{
    ViewBag.Title = "Servicio de Salud Atacama";
}

<h2>Programa de Salud del Adolescente</h2>

<h3>Introducción</h3>

<p>El Programa de Salud del Adolescente tiene como propósito contribuir al máximo estado de 
bienestar psicosocial de los y las adolescentes, apoyado en los principios de Equidad, Autonomía, 
Confidencialidad, Integralidad, Universalidad, Intersectorialidad, Participación, Flexibilidad y 
Fortalecimiento Familiar.</p>
 
<p>Está  orientado a los adolescentes de 10 a 19 años insertos en un contexto familiar y comunitario. 
Para acceder a él, los y las adolescentes deben acercarse al Centro de Salud más cercano a su 
domicilio y/o establecimiento y acreditar su condición de beneficiario del Sistema Público de Salud.</p>

<img src="../../Content/img/adolescente.jpg" alt="adolescente" />

<h3>Objetivo General</h3>

<p>Poner  al  alcance de los y las adolescentes Espacios y Servicios adecuados para acoger sus 
necesidades  en salud y responder a ellas en forma  integral y con calidad, tanto en el ámbito 
promocional-preventivo como recuperativo.</p>

<h3>Líneas de Acción</h3>

<ul>
    <li>Promover la participación Juvenil, con un enfoque de derechos, integrándolo a las acciones 
    del sistema de salud, desarrollando en conjunto con los jóvenes, sus familias y comunidades, 
    actividades de Promoción y Prevención en salud.</li>
    <li>Contribuir a la gestión  y coordinación de  acciones intersectoriales y comunitarias en el 
    ámbito de la promoción y prevención de salud del adolescente.</li>
    <li>Abordar las dificultades de acceso de la población adolescente a los programas 
    preventivos-promociónales y recuperativos  de la salud.</li>
    <li>Desarrollar servicios en salud  adecuados a las características y  necesidades en salud de 
    los y las adolescentes.</li>
    <li>Proporcionar una atención en Salud Integral, con enfoque anticipatorio, familiar y comunitario 
    a nivel de la red asistencial</li>
</ul>

<h3>Prioridades</h3>

<ul>
    <li>Prevención del Embarazo Adolescente</li>
    <li>Mejoramiento del acceso de la población adolescente a la atención con énfasis en salud mental 
    y salud sexual y reproductiva.</li>
</ul>

<p><b>¿Dónde acceden?</b></p>

<p>Todos los adolescentes de 10 a 19 años beneficiarios de FONASA y que estén inscritos en los 
Centros de Salud Familiar de la Región de Atacama.</p>