@{
    ViewBag.Title = "Servicio de Salud Atacama";
}

<h2>Programa Adulto Mayor</h2>

<h3>Definición del Programa</h3>
<p>El programa de Salud del Adulto Mayor, beneficia a todas las personas de 65 años y más. 
Para acceder a estos beneficios de salud en los Establecimientos de Salud APS.</p>

<h3>Objetivo del Programa</h3>

<ul>
    <li>Mantener o recuperar la autonomía física, psíquica e intelectual del adulto mayor, con el fin de mejorar su calidad de vida.</li>
    <li>Prevenir la mortalidad por causas evitables, contribuyendo de esta manera a prolongar la vida.</li>
</ul>

<h3>Prestaciones del Programa</h3>

<p>En todo Centro de Salud (Consultorio, CESFAM) de la Red Asistencial puede acceder a este Programa:</p>

<ul>
    <li>Control de Salud anual (examen de medicina preventiva del adulto mayor),  que permite: medir la funcionalidad, identificar los factores de riesgo y elaborar un Plan de Atención</li>
    <li>Programa Cardiovascular</li>
    <li>Programa de Enfermedades Respiratorias</li>
    <li>Programa de Tuberculosis</li>
    <li>Consultas de Nutrición, Servicio Social y Kinesiología</li>
    <li>Vacunación</li>
    <li>Programa de Alimentación Complementaria (PACAM)</li>
</ul>

<p>En Chile, se ha creado un instrumento que nos permite medir la funcionalidad en forma integral: funciones cognitiva, afectiva, locomotora y cardiovascular, 
y actividades de la vida diaria Evaluación Funcional del Adulto Mayor (EFAM).</p>

<p>EFAM es un instrumento Predictor de Pérdida de Funcionalidad, se aplica a todo Adulto Mayor de 65 años y más, que llega caminando al Centro de Salud, una vez al año, en el Control de Salud o Examen de Medicina Preventiva Anual.
Estadísticas.</p>

<p>La Comuna de Copiapó concentra el mayor número de AM, con el 42%, seguido de la comuna de Vallenar con 35,4% del total de la población AM que representa el 9,6% del total de la población regional. Concentrándose en los Establecimientos de Salud Manuel Rodríguez (1.857), B. Mellibovsky (1.815), Sta. Elvira (1.768) y Estación (1.779) de la Comuna de Vallenar.</p>

<h3>Adulto mayor y AUGE</h3>
   
<p>La Ley 19.966 de Garantías Explícitas en Salud (GES) ha incorporados distintos programas de salud 
relacionados con este grupo de edad.</p>

<p>La vía de entrada al sistema de salud debe ser el nivel primario de atención, quienes derivan 
a los pacientes a centros de mayor complejidad tal como el Hospital Regional de Copiapó y el 
Hospital Provincial del Huasco.</p>

<p>Los problemas de salud incorporados de acuerdo al grupo de edad son:</p>

<ul>
    <li>Vicios de refracción</li>
    <li>Artrosis de cadera con limitación funcional severa (mayores de 65 años)</li>
    <li>Neumonía adquirida en la comunidad (mayores de 65 años)</li>
    <li>Ortesis o ayudas técnicas (mayores de 65 años)</li>
    <li>Hipoacusia bilateral que requiere uso de audífonos</li>
    <li>Artrosis de cadera o rodilla, leve o moderada (mayores de 55 años)</li>
</ul>

<p>No obstante el adulto mayor puede acceder en los otros problemas de salud GES a 
los cuales se vea afecto y que cumpla con los criterios de inclusión.</p>

<img src="../../Content/img/adulto.jpg" alt="adulto" />