@{
    ViewBag.Title = "Servicio de Salud Atacama";
}

<h2>Pesquisa y Control de Cáncer de Cuello Uterino</h2>

<h3>Objetivo</h3>

<p>Disminuir la tasa de  mortalidad y la tasa de incidencia por cáncer invasor, a través de la 
detección de la enfermedad en etapas pre-invasoras y su tratamiento oportuno.</p>

<p>Especial importancia en este programa ha adquirido la práctica del examen de papanicolau en 
mujeres de 25 a 64 años con el fin de detectar, diagnosticar y hacer un tratamiento oportuno a las 
mujeres con cáncer cérvico uterino, estando todos los centros con un sistema informático llamado 
cito-expert el cual al ingresar el RUT de la usuaria es posible saber cuando fue tomado el pap 
anterior, su resultado y si le corresponde o no realizarse este examen.</p>

<h3>Cuello Uterino</h3>

<p>El Cuello Uterino es la parte inferior del útero. El útero es un órgano hueco, en forma de pera, 
que está ubicado en la parte baja del abdomen de la mujer, entre la vejiga y el recto. El cuello forma 
un anal que desemboca en la vagina, la cual conduce al exterior del cuerpo.</p>

<img src="../../Content/img/cuellouterino.PNG" alt="utero" />

<h3>Detección Temprana de Cáncer Cérvico Uterino PAP</h3>

<h4>PAP</h4>

<p>Si todas las mujeres tuvieran exámenes ginecológicos y pruebas de Pap, (abreviación de 
Papanicolaou) con regularidad, la mayoría de las condiciones precancerosas se detectarían y 
tratarían antes de que se volvieran cancerosas. De esa forma, se podría prevenir la mayoría de 
los cánceres invasores. Cualquier cáncer invasor que se presenta ahora, habría sido encontrado 
en una etapa temprana, curable, si esa paciente hubiera acudido a sus controles ginecológicos 
habituales.</p>

<p>La prueba de Papanicolaou es una prueba sencilla, sin dolor, para detectar células anormales en 
el cuello. La mujer deberá presentarse para esta prueba cuando no esté menstruando; el mejor tiempo 
para hacerlo es de 10 a 20 días después del primer día de su período menstrual, evitar tener 
relaciones sexuales entre uno y dos días antes de hacerse el PAP, pues estas maniobras podrían 
ocultar cualquier célula anormal.</p>

<p>Una prueba de Pap se puede hacer en el Centro de Salud con la matrona(on). Se usa una espátula 
madera para recoger una muestra de las células sueltas del cuello del útero y de la parte superior 
de la vagina. Las células se colocan en un portaobjetos de vidrio que se envía al laboratorio médico 
para su examen microscópico.</p>

<p>En Chile el sistema de salud determina que el Pap se debiera tomar a todas las mujeres entre 25 
y 64 años, con una frecuencia cada 3 años.</p>

<p>Es muy importante sin embargo que a pesar de tener un Pap normal, si una mujer tiene molestias, 
sangramientos o cambios en su flujo vaginal, debe asistir a control para ser evaluada nuevamente.</p>

<p>Existe un grupo de mujeres que tienen un riesgo mayor de desarrollar cáncer del Cuello Uterino y 
estas deben tener cuidado especial en seguir la recomendación de su matrona en cuanto a los 
exámenes.</p>