@{
    ViewBag.Title = "Servicio de Salud Atacama";
}

<h2>Programa Cáncer de Mama</h2>

<h3>Objetivo</h3>

<p>Disminuir la mortalidad  por cáncer de mama a través del aumento de la pesquisa de cánceres en 
etapas I y II, realizando tratamientos adecuados y oportunos.</p>

<h3>¿Qué es Mama?</h3>

<p>Mama es una glándula cuya función principal es la producción de leche durante el período de 
lactancia. Desde el nacimiento hasta la edad adulta, las mamas sufren más cambios que ningún otro 
órgano. Bajo el influjo de las hormonas femeninas (estrógenos y progesterona), las mamas crecen 
durante la pubertad y se ven influenciadas en la edad reproductiva por los ciclos menstruales. En 
la menopausia, los niveles hormonales descienden y gran parte de la glándula mamaria se atrofia y 
es sustituida por grasa.</p>

<img src="../../Content/img/mama.PNG" alt="mama" />

<h3>¿Qué es el Cáncer de Mama?</h3>

<p>El cáncer de mama consiste en un crecimiento anormal y desordenado de las células de éste tejido.
La mejor forma de prevenir este cáncer es a través del autoexamen de mama o el examen físico de mama 
realizado por la matrona.</p>

<h3>¿Qué es el Autoexámen de las Mamas?</h3>

<p>El autoexámen de las mamas es un procedimiento realizado por la mujer para examinarse física y 
visualmente y detectar cualquier cambio en sus mamas o axilas.  No se ha demostrado que el examen 
por sí solo pueda determinar con precisión la presencia de cáncer de mama. Por lo tanto, la auto 
evaluación no se debe utilizar para reemplazar, sino para complementar, el examen clínico de las 
mamas, realizado por un profesional de la salud y la mamografía.</p>

<p>El cáncer mamario es uno de los tumores malignos más frecuentes y agresivos. Detectado y tratado 
oportunamente puede ser curable en su totalidad.</p>

<h3>¿Cuándo se debe hacer el Autoexámen de las Mamas?</h3>
 
<p>Al hacerse regularmente el auto-examen, se puede establecer cómo son normalmente y estar mejor 
preparada para detectar cualquier cambio.</p>

<p>Las mujeres deberían hacerse este autoexamen a partir de los 20 años y durante toda su vida; aún 
si están embarazadas o después de la menopausia.</p>

<p>La autoevaluación debe hacerse cada mes:</p>

<ul>
    <li>Familiarícese con el aspecto y tacto normal de sus mamas para    notar cualquier cambio.</li>
    <li>Si todavía menstrúa, el mejor momento para hacerse el examen, es varios días o alrededor de 
    una semana, después de que el periodo termine. Estos son días en que es menos probable que sus 
    mamas estén adoloridas o inflamadas.</li>
    <li>Si ya no está menstruando, elija un día, por ejemplo el primer día de cada mes, para recordar 
    hacerse la auto evaluación de las mamas.</li>
    <li>Si está tomando hormonas, hable con su médico para saber cuándo debe hacerse el examen y sus 
    controles médicos.</li>
</ul>

<h3>Cambios a Tener en Cuenta</h3>

<p>Consulte con su médico si encuentra cualquier cambio en sus mamas que le cause preocupación. Entre 
los cambios que pueden tener se encuentran:</p>

<ul>
    <li>Aparición de un bulto.</li>
    <li>Secreción que no sea leche materna.</li>
    <li>Inflamación de la mama.</li>
    <li>Irritación o formación de hoyuelos en la piel.</li>
    <li>Anormalidades en el pezón (como dolor, enrojecimiento, descamación o hundimiento).</li>
</ul>

<img src="../../Content/img/autoexamen01.PNG" alt="examen1" />

<img src="../../Content/img/autoexamen02.PNG" alt="examen2" />

<img src="../../Content/img/autoexamen03.PNG" alt="examen3" />