@{
    ViewBag.Title = "Servicio de Salud Atacama";
}

<h2>Programa de Salud Cardiovascular</h2>

<p>Es un programa orientado al control de los factores de riesgos que  están relacionados directamente 
con  la mortalidad de la población. Ya que una de cada tres muertes es por causa cardiovascular. 
La mayoría de estas enfermedades comparten factores de riesgos como hipertensión, colesterol elevado, 
diabetes, obesidad y tabaquismo. Por lo tanto el objetivo del programa cardiovascular es disminuir o 
controlar uno o más factores de riesgo a modo de reducir el riesgo de mortalidad por enfermedad 
cardiovascular y mejorar la calidad de vida  de los pacientes con enfermedades crónicas.</p>

<p>A contar del 2005, la hipertensión arterial y la diabetes mellitus tipos 1 y 2, son patologías 
incorporadas al sistema de Garantías Explícitas en Salud (GES), lo que permite a los usuarios, tanto 
del sistema público como privado, acceder a los beneficios que ofrece el sistema. Si las personas no 
aceptan ingresar al GES, deberán dejar constancia escrita de su disentimiento (consentimiento 
informado).</p>

<img src="../../Content/img/cardio.jpg" alt="cardio" />

<p>Para ello contamos con:</p>

<h3>Examen de Salud Preventivo</h3>

<p>Este examen corresponde al realizado una vez al año. Se realiza mediante la recopilación de datos que 
representen algún tipo de riesgo de futura enfermedad, como antecedentes personales, familiares, 
estilos de vida; sumándole una serie de exámenes simples, como mediciones de peso, de talla y 
circunferencia de cintura, presión arterial, etc.; además de diversos exámenes de laboratorio y 
cuestionarios.</p>

<p>Los factores de Riesgo que pesquisa el EMPA son:</p>

<ul>
    <li>Obesidad</li>
    <li>Tabaquismo</li>
    <li>Hipertensión Arterial</li>
    <li>Dislipidemia</li>
    <li>Cáncer Cervicouterino</li>
    <li>Cáncer de mamas</li>
    <li>Bebedor problema</li>
    <li>Diabetes Mellitus</li>
    <li>Tuberculosis</li>
    <li>Sífilis</li>
</ul>

<h3>Control de Crónicos</h3>

<p>Este examen corresponde al control de patologías crónicas en población de 20 a 64 años 
considerando:</p>

<ol>
    <li><b>Hipertensión Arterial:</b> Aquí se  realizan al menos 4 controles al año por parte del 
    médico, enfermera o nutricionista, para ayudar al paciente hipertenso a mantener sus valores de 
    presión dentro de los parámetros normales, ya sea con cambios en la dieta o apoyo farmacológico</li>

    <li><b>Diabetes mellitus:</b> Aquí se realizan al menos 5 controles al año parte del médico, 
    enfermera o nutricionista cuyo  objetivo es controlar al paciente diabético para detectar cambios 
    en sus niveles de  azúcar en la sangre y asegurar con ello que el paciente realice
    cambios en la dieta o en el apoyo farmacológico si así  corresponde.

        <ul>
            <li>Se realiza evaluación de los pies en el paciente diabético al menos una vez al año, 
            esto en busca de una neuropatía a modo de asegurar la prevención de ulceras en el pie</li>
            
            <li>Se da atención podológica a los pacientes diabéticos a modo de asegurar el cuidado 
            en lo que respecta a Higiene y utilización del calzado correcto</li>

            <li>En los casos que el paciente presente úlceras, se realiza la curación manejo 
            avanzado, cuyo objetivo es realizar la cicatrización de está herida buscando de este 
            modo posponer una  posible amputación.</li>
        </ul>
    
    </li>

    <li><b>Dislipidemia:</b> Aquí se realizan controles por parte del médico y la nutricionista cuyo 
    objetivo es controlar al paciente displipidemico para detectar cambios en sus niveles de 
    colesterol  y asegurar con ello que el paciente realice cambios en la dieta o en el apoyo 
    farmacológico si así fuese necesario.</li>
</ol>

<h3>Lugares de Atención</h3>

<p>En Centros de Salud de Atención primaria de la región de Atacama con excepción de la diabetes 
mellitus tipo 1 que se debe atender de acuerdo a guías clínicas en el nivel secundario, 
Hospital Regional de Copiapó y Provincial del Huasco.</p>