@{
    ViewBag.Title = "Servicio de Salud Atacama";
}

<h2>Programa Enfermedad de Chagas</h2>

<h3>Definición</h3>

<p>La enfermedad de Chagas, conocida como Tripanosomiasis Americana, es una enfermedad crónica, 
que causa discapacidad y  muerte en quienes la padecen.</p>

<p>Su agente biológico es el Tripanosoma cruzi, protozoo flagelado que se transmite a través de 
vectores hematófagos infectados. En Chile, los principales agentes son el Triatoma infestans 
y el spinolai, más conocidos como vinchuca. Su reservorio es humano, así como 150 especies de 
mamíferos, tanto silvestres como domésticos.</p>

<p>La vinchuca puede desarrollarse en zonas de temperaturas frías, es un animal de hábitos 
nocturnos, y tiene una resistencia al ayuno muy grande, donde la ninfa de quinto estadio soporta 
más de 6 meses de ayuno.</p>

<p>La tripanosomiasis americana, conocida como enfermedad de Chagas fue descrita  en Minas 
Gerais (Brasil) en 1909 por Carlos Ribeiro Justiniano Chagas. Esta zoonosis parasitaria existe 
en el continente americano desde hace más de 9.000 años, ya que se ha documentado infección 
chagásica en comunidades prehistóricas, que habitaban el norte de Chile.</p>

<p>Respecto a su distribución geográfica, se encuentra presente desde México a Sudamérica y el 
área endémica en Chile se extiende desde la I a la VI región, incluyendo la Región Metropolitana. 
La población total de esta área corresponde a un 77% de la población total del país, resaltando que 
la enfermedad es más frecuente en áreas rurales y periurbanas, siendo esta una población de mayor 
exposición a la enfermedad. Según estudios de la DISAM y estudios serológicos, se estima que el 
número de personas infectadas en esta área sería de 142.000 aproximadamente.</p>

<p>Estudios costo/beneficio en diferentes países, demuestran que por cada dólar invertido en 
prevención, se ahorran entre 11 y 17 dólares en el manejo y tratamiento de pacientes en fase 
crónica sintomática de la enfermedad de Chagas.</p>

<p>La intervención o la inversión disminuirían los costos socioeconómicos provenientes de la 
atención de salud (exámenes de diagnóstico, tratamiento farmacológico, cirugías, marcapasos, 
trasplante de órganos y otros) y disminuirían las perdidas en el área productiva laboral.</p>

<h3>Vías de Transmisión</h3>

<ul>
    <li>La vía vectorial, forma clásica de transmisión en áreas endémicas, que consiste en una 
    transmisión indirecta donde influyen factores tales como la pobreza,  ruralidad,  malas 
    condiciones de la vivienda,  temperaturas altas o moderadas y el clima seco.</li>
    <li>La vía transfusional, cuyo riesgo efectivo de transmisión con 500 ml. de sangre infectada 
    es de 12,5 a 25%. En Chile no se refieren casos de transmisión por esta vía desde el año 1985.</li>
    <li>La vía transplacentaria o connatal, que corresponde a un 10% del total de los casos.</li>
    <li>Otras vías de escasa significación epidemiológica, como son la transmisión por alimentos, 
    lactancia materna y accidentes de laboratorio.</li>
</ul>

<h3>Flujos de Derivación en la Región de Atacama</h3>

<h4>Atención Primaria en Salud:</h4>

<p>Los casos sospechosos por signos y síntomas clínicos son diagnosticados por médicos, quien 
solicita examen de laboratorio. El examen es tomado po el Técnico Paramédico del Centro de Salud 
o CESFAM, muestra que se deriva a los Hospitales de Copiapó, Vallenar, Diego de Almagro y Chañaral, 
según corresponda.</p>

<ul>
	<li>Las comunas de Huasco, Freirina, Vallenar y Alto del Carmen derivan las muestras al 
    Hospital de Vallenar.</li>
	<li>Diego Almagro procesa las muestras de se comuna.</li>
	<li>Hospital de Chañaral procesa las muestras de su comuna.</li>
    <li>Tierra Amarilla procesa sus muestras en un laboratorio privado en Copiapó.</li>
	<li>Caldera y Copiapó derivan las muestras al Hospital Regional de Copiapó.</li>
</ul>

<h3>Tratamiento y Seguimiento</h3>

<p>En ambos hospitales de mayor complejidad (Copiapó y Provincial del Huasco) aseguran el 
tratamiento correspondiente y el seguimiento.</p>

<img src="../../Content/img/chagas.jpg" alt="chagas" />