@{
    ViewBag.Title = "Servicio de Salud Atacama";
}

<h2>Programa de Protección Social Chile Crece Contigo</h2>

<h3>Beneficiarios</h3>

<p>El Sistema está destinado a niños y niñas desde la gestación hasta que cumplen cuatro 
años de vida y su finalidad principal es generar y articular variados y diversos mecanismos 
de apoyo a niños, niñas y sus familias, que en su conjunto permitan igualar oportunidades de 
desarrollo.</p>

<p>En este sentido, avanzar hacia la instalación de un sistema de  protección integral a la infancia 
a nivel nacional, permite ofrecer a la población infantil un sistema integrado de intervenciones 
y servicios sociales que apoyen al niño/a y su familia desde la gestación, entregándoles 
las herramientas necesarias para que desarrollen el máximo de sus potencialidades</p>
    
<p>La etapa del desarrollo que va desde la gestación  hasta los 6 ó 7 años es considerada desde 
la biología y ciencias cognitivas como el período más significativo en la formación del 
individuo</p>

<p>La multidimensionalidad del desarrollo infantil temprano requiere de intervenciones 
simultáneas para el  desarrollo de los niños y niñas y estas intervenciones deben ocurrir de 
manera oportuna y de forma pertinente a las necesidades particulares de cada niño o niña</p>
    
<p>La atención oportuna de los factores de riesgo (biológicos, psicológicos y/o sociales), 
permiten aprovechar las ventanas de oportunidades que ofrece la primera infancia</p>

<img src="../../Content/img/crece.jpg" alt="crece" />

<h3>Fortalecimiento de los Cuidados Prenatales Enfatizando la Detección del Riesgo 
Biopsicosocial</h3>

<ul>
    <li>Fortalecimiento del control prenatal con énfasis en el establecimiento de una relación 
    de ayuda efectiva y en la detección de factores de riesgo psicosocial</li>
    <li>Entrega de material “EMPEZANDO A CRECER”</li>
    <li>Diseño, por parte del equipo de  salud de cabecera, de un plan de salud personalizado 
    para cada gestante en situación de vulnerabilidad</li>
    <li>Visita domiciliaria integral a gestantes en situación de vulnerabilidad</li>
    <li>Activación de red comunal Chile Crece Contigo según vulnerabilidad</li>
    <li>Seguimiento de las intervenciones y sus resultados</li>
    <li>Educación grupal o individual a gestantes: apoyo cognitivo y emocional y preparación 
    para el nacimiento y la crianza</li>
</ul>

<h3>Atención Personalizada del Proceso de Nacimiento</h3>

<ul>
    <li>Atención personalizada e integral en preparto y parto</li> 
    <li>Atención  personalizada e integral a la mujer puérpera y el recién nacido/a</li>
    <li>Contrarreferencia personalizada en casos de vulnerabilidad</li>
    <li>Coordinación oportuna con el equipo de salud de APS</li>
</ul>



<h3>Fortalecimiento del Control de Salud del Niño/a con Énfasis en el Logro de un
Desarrollo Integral</h3>

<h4>Control de Salud de Ingreso a la APS</h4>

<ul>  
    <li>Examen físico general y segmentario de la madre y del recién nacido</li>
    <li>Apoyo en lactancia materna, con especial énfasis en madres trabajadoras</li> 
    <li>Pesquisa  y seguimiento de riesgo psicosocial familiar con énfasis en:
	    <ul>
            <li>problemas de salud mental,</li>
            <li>violencia,</li>
            <li>consumo de sustancias,</li>
            <li>maternidad adolescente,</li>
            <li>baja escolaridad.</li>
        </ul>
    </li>
</ul>
	
<p>Reevaluación y nuevo diseño del plan de acción integral según riesgos detectados; consejería 
y referencia en casos de alta vulnerabilidad </p>

<h3>Controles de Salud de Seguimiento al Desarrollo de Niño/a</h3>

<ul> 
    <li>Establecimiento de relación de ayuda efectiva</li>
    <li>Aplicación de instrumentos para una evaluación integral del desarrollo</li>
    <li>Evaluación de factores de riesgo de la familia que pueden afectar el desarrollo del 
    niño o la niña</li>
    <li>Confección de plan de atención personalizado del  niño o la niña y su familia</li>
    <li>Plan de atención en la red de salud de acuerdo a hallazgos</li>
    <li>Activación de red comunal Chile Crece Contigo según vulnerabilidad</li>
    <li>Seguimiento de las intervenciones y sus resultado</li>. 
</ul>

<h3>Programa de Apoyo al Recién Nacido (Ajuares)</h3>

<p>¿Qué es?</p>

<p>El programa de apoyo al recién nacido, más conocido como ajuar, es parte de las prestaciones
del sistema de protección integral a la infancia Chile Crece Contigo, y busca apoyar el desarrollo 
integral de niños y niñas en igualdad de condiciones, otorgándoles un lugar seguro y cómodo 
para su llegada al hogar y elementos para favorecer el apego durante la crianza</p>

<p>¿Hasta cuándo se entrega el ajuar de chile crece contigo</p>

<p>La entrega del ajuar cuenta con presupuesto para todo 2011. después de agosto de 2011, 
se revisarán sus contenidos de acuerdo a un estudio de uso de algunos de los implementos que 
contiene</p>

<p>En tanto, la continuidad de este programa para 2012 dependerá -como cada año-, de la 
aprobación del presupuesto de la nación</p>
	
<p>¿Cómo se obtiene?</p>
	
<p>El programa de apoyo al recién nacido(a) (parn) es de cobertura universal para niños y niñas 
que nacen en establecimientos de la red pública de salud. Por lo tanto, el único requisito para 
recibir el beneficio es haber atendido el parto en el sistema público de salud, independiente del 
lugar (pensionado o sala) y la previsión</p>

<p>La entrega se realiza en el hospital sin ningún trámite previo, más que la firma de recepción 
conforme de un registro. Los artículos son entregados después del alta de la madre y se 
contempla educación grupal para las madres tanto en temas de lactancia materna y apego seguro, 
como en el uso de los implementos que incluye.</p>

<p>¿Qué contiene?</p>
   
<ul>
    <li>El set de implementos básicos se organiza en cuatro paquetes</li>
    <li>Considera, entre otros implementos, una cuna corral completamente equipada 
    (con colchón, frazada, sabanas y colcha); vestuario para el bebé, incluyendo piluchos, 
    camisetas, panty, gorro y bolso para transportar los artículos; un set de elementos de 
    cuidado con toalla, mudador y pañales; además de una cartilla educativa para padres y 
    madres, cojín para lactancia y portabebé </li>
</ul>