@{
    ViewBag.Title = "Servicio de Salud Atacama";
}

<h2>Comité Operativo de Emergencias</h2>

<p>El Comité Operativo de Emergencias del Servicio de Salud Atacama (COE SSA), es la 
estructura responsable de coordinar la ejecución de las actividades antes, durante y 
después de una emergencia o desastre.</p>

<p>En la administración de una emergencia el COE centraliza toda la información, necesidad 
y establece una línea de comunicación intersectorial con los principales organismos 
participantes, como ONEMI, Gobierno Regional, Intendencia, SEREMIS siendo el referente 
principal en temas de salud para la región de Atacama.</p>

<p>Principales funciones antes de la emergencia:</p>

<ul>
    <li>Planear y organizar las diferentes acciones y recursos para la eficaz atención de 
    un eventual evento.</li>
    <li>Conocer el funcionamiento de la Red Asistencial, las instalaciones, emergencias que 
    se puedan presentar y los planes normativos y operativos de Emergencias.</li>
    <li>Identificar las zonas mas vulnerables de la Red Asistencial.</li>
    <li>Mantener actualizado el listado de recursos: Humanos, Materiales y Físicos de la Red 
    Asistencial.</li>
    <li>Diseñar y promover programas de capacitación para afrontar emergencias a todo el 
    personal de la Red Asistencial.</li>
    <li>Establecer acciones operativas para el comité</li>
    <li>Realizar reuniones periódicas para mantener permanentemente actualizado el plan 
    de emergencias.</li>
</ul>

<p>Principales funciones durante la emergencia:</p>

<ul>
    <li>Activar el sistema de llamadas de los integrantes del Comité Operativo 
    de Emergencias.</li> 
    <li>Evaluar las condiciones y la magnitud del evento y la emergencia.</li>
    <li>Distribuir los recursos para la atención adecuada de la emergencia.</li>
    <li>Establecer contacto con los máximos directivos de la Red, Minsal, Gobierno regional, 
    SAMU, grupos de apoyo y ayuda externa.</li>
    <li>Tomar decisiones en cuanto a evacuación parcial o total de los establecimientos 
    de la Red Asistencial.</li>
    <li>Coordinar las acciones operativas en la atención de la emergencia.</li>
</ul>


<p>Principales funciones después de la emergencia:</p>

<ul>
    <li>Evaluar el desarrollo de la diferentes actividades contempladas en el plan después 
    de cada emergencia o simulacro desarrollado.</li>
    <li>Elaborar y presentar informes de dichas actividades a los directivos del Sector Salud.</li> 
    <li>Actualizar los diferentes inventarios de recursos.</li>
    <li>Permanecer en estado de alerta hasta la vuelta a la normalidad (recuperación).</li>
    <li>Retroalimentar cada uno de los establecimientos del COE-SSA.</li>
    <li>Establecer o determinar los correctivos pertinentes  al plan.</li>
</ul>

<p>Integrantes del COE:</p>

<table class="data-table">
    <thead>
        <tr>
            <td>
                Nombre
            </td>
            <td>
                Dependencia
            </td>
            <td>
                Correo
            </td>
            <td>
                Comisión
            </td>
        </tr>
    </thead>
    <tr>
        <td>
            Dra. Paola Neumann
        </td>
        <td>
            Directora SSA
        </td>
        <td>
            paola.neumann@redsalud.gov.cl
        </td>
        <td>
            Presidenta
        </td>
    </tr>
    <tr>
        <td>
            Celsa Carmona García
        </td>
        <td>
            RRFF-SSA
        </td>
        <td>
            celsa.carmona@redsalud.gov.cl
        </td>
        <td>
            Coordinadora
        </td>
    </tr>
    <tr>
        <td>
            Patricio Castillo Vega
        </td>
        <td>
            RRFF-SSA
        </td>
        <td>
            pv.castillo@gmail.com
        </td>
        <td>
            Coordinador
        </td>
    </tr>
    <tr>
        <td>
            Claudia Valle Riquelme
        </td>
        <td>
            RRHH-SSA
        </td>
        <td>
            claudia.valle@redsalud.gov.cl
        </td>
        <td>
            Coordinadora
        </td>
    </tr>
    <tr>
        <td>
            Carlos Báez Salinas
        </td>
        <td>
            DEGERA-SSA
        </td>
        <td>
            carlos.baez@redsalud.gov.cl
        </td>
        <td>
            Red Urgencia - SAMU
        </td>
    </tr>
    <tr>
        <td>
            Julio Quezada Martínez
        </td>
        <td>
            Subdepto. Operaciones
        </td>
        <td>
            julio.quezada@redsalud.gov.cl
        </td>
        <td>
            Apoyo Logístico
        </td>
    </tr>
    <tr>
        <td>
            Claudia Cid Silva
        </td>
        <td>
            Comunicaciones y RRPP
        </td>
        <td>
            claudia.cid@redsalud.gov.cl
        </td>
        <td>
            Comunicaciones
        </td>
    </tr>
    <tr>
        <td>
            Sebastián Urrejola
        </td>
        <td>
            Informática
        </td>
        <td>
            sebastian.urrejola@redsalud.gov.cl
        </td>
        <td>
            Informático COE
        </td>
    </tr>
</table>

<h3>Recursos esenciales en Operaciones COE SSA</h3>

<p>Ante cualquier situación de emergencia de mayor complejidad, se activa el COE SSA en dependencias 
del Servicio de Salud Atacama, o bien en dependencias del Hospital Regional de Copiapó San José del 
Carmen, habilitando una sala de crisis, con los recursos necesarios que permitan administrar una 
situación de emergencia y centralizar toda la información de la red asistencial para garantizar una 
toma de decisiones colaborativa lo mas certera posible, oportuna y de esta forma mantener el concepto 
de conciencia situacional, para conocer todo lo que esta pasando en el momento, donde esta ocurriendo 
y que participación tienen los demás servicios y organizaciones a fin de no caer en duplicidad de 
funciones.</p>

<p>Información de Base, disponible en formato Análogo y digital:</p>

<ul>
    <li>Mapa físico-político actualizado</li>
    <li>Mapa de amenazas y recursos disponibles en salud</li>
    <li>Información general (población, condiciones climáticas, de salud, Infraestructura sanitaria, 
    sociales, contactos, etc.)</li>
    <li>Despliegue de información: zonas afectadas, daños y eventos específicos bajo vigilancia 
    (SIG, gráficos de tendencia, incidencia)</li>
    <li>Información operacional (recursos humanos, vehículos, distribución de suministros)</li>
    <li>Plataforma de comunicación red Minsal, telefonía Móvil, Internet, Radio VHF local regional, 
    HF Local, regional y Nacional.</li>
</ul>

<h3>Algunas de las experiencias y lecciones aprendidas COE Salud Atacama:</h3>

<ul>
    <li>Accidente y rescate Mineros San José.</li>
    <li>Dakar 2009, 2010 y 2011.</li>
    <li>Alerta Tsunami terremoto Japón 2011.</li>
</ul>