@{
    ViewBag.Title = "Servicio de Salud Atacama";
}

<h2>Comunicaciones</h2>

<p>Comunicaciones y Relaciones Públicas desempeña una función facilitadora y de enlace entre las 
autoridades de la institución y los medios de comunicación, así como los sectores de la comunidad 
atacameña, contribuyendo al fortalecimiento de la imagen institucional.</p>

<p>Es responsabilidad de Comunicaciones y Relaciones Públicas el otorgar apoyo en la difusión de 
los diversos programas y campañas de salud y del funcionamiento de la Red Asistencial.</p>

<p>Esta unidad está encargada de mantener una comunicación fluida con los encargados de coordinar 
las actividades de todos los servicios con quienes el Ministerio de Salud realiza Programas en 
conjunto (Chile Crece Contigo, Programa Especial de Salud Para Pueblos Indígenas, Prevención 
de Alcohol y Drogas, entre otros) para coordinar con ellos actividades de difusión y orientación 
a la comunidad.</p>