@{
    ViewBag.Title = "Servicio de Salud Atacama";
}

<h2>Unidad de Comunicaciones y Relaciones Públicas</h2>

<p>La Unidad de Comunicaciones y Relaciones Públicas de la Dirección del Servicio de Salud Atacama 
se divide en tres sub-unidades, Comunicaciones, Participación Social y OIRS, las que trabajan en 
forma coordinada para mantener y fortalecer el flujo comunicacional entre el Servicio de Salud Atacama 
y sus diversos públicos usuarios.</p>

