@{
    ViewBag.Title = "Emergencia";
}

<h2>Cartera de Servicios de Red de Emergencia Hospitalaria</h2>

<h3>UEH Hospitales Tipo 2 (Base Hospital San José del Cármen)</h3>

<br />

<ul>
    <li>Atención médica pediatrica</li>
    <li>Atención medica internista</li>
    <li>Atención medica cirujano</li>
    <li>Interconsulta especialista en turno</li>
    <li>Interconsulta especialista de llamada</li>
    <li>Constatación de lesiones</li>
    <li>Toma de muestra para alcoholemia</li>
    <li>Suturas simples</li>
    <li>Suturas complicadas</li>
    <li>Fleboclisis</li>
    <li>Toma de muestras para exámenes de laboratorio</li>
    <li>Drenaje de abscesos</li>
    <li>Punción articular</li>
    <li>Punción Lumbar</li>
    <li>Punción ascitica</li>
    <li>Cistostomia</li>
    <li>Instalación de sonda Foley</li>
    <li>Instalación de Sonda nasogastrica</li>
    <li>Toma De Electrocardiograma</li>
    <li>Intubación Endotraqueal</li>
    <li>Aspiración de secreciones</li>
    <li>Pleurotomia</li>
    <li>Masaje cardiaco externo</li>
    <li>Tratamiento E.V.</li>
    <li>Tratamiento I.M.</li>
    <li>Tratamiento Oral</li>
    <li>Tratamiento Sublingual</li>
    <li>Tratamiento Subcutáneo</li>
    <li>Infusión E.V. por Bomba</li>
    <li>Lavado Gástrico</li>
    <li>Curación simple</li>
    <li>Curación de Quemados</li>
    <li>Curación Complicada</li>
    <li>Instalación de Sonda Nasoyeyunal</li>
    <li>Onisectomía</li>
    <li>Nebulización</li>
    <li>Oxígenoterapia</li>
    <li>Aplicación de Puff</li>
    <li>Instalación de sonda de Sengztaken</li>
    <li>Fenestracion</li>
    <li>Colocación de Férulas digitales</li>
    <li>Colocación de valva braqueopalmar</li>
    <li>Colocación de valva Antebraqueopalmar</li>
    <li>Valva tipo bota corta</li>
    <li>Valva tipo bota larga</li>
    <li>Valva tipo rodillera</li>
    <li>Colocación  vendaje en 8</li>
    <li>Reducción de luxación de Hombro</li>
    <li>Taponamiento nasal anterior</li>
    <li>Extracción de cuerpo extraño ocular</li>
    <li>Camilla  de Observación</li>
    <li>Instalación de cateter de Hemodiálisis</li>
    <li>Instalación de cateter venoso central</li>
    <li>Divulción Hemorroidal</li>
    <li>Confección de certificado de defunción</li>
    <li>Notificación de E.N.O.</li>
    <li>Confección de Certificados de consentimiento informado</li>
    <li>Ingreso médico a hospitalización</li>
    <li>Hoja de enfermería para Hospitalización</li>
    <li>Cirugías menores de urgencia</li>
    <li>Cirugías mayores de urgencia</li>
    <li>Reanimación cardiovascular</li>
    <li>Trombolisis en IAM</li>
    <li>Intubacion endotraqueal</li>
    <li>Cardioversion</li>
    <li>Desfibrilacion</li>
    <li>Reducción ortopédica</li>
    <li>Tratamiento quirúrgico de fracturas expuestas</li>
    <li>Cirugía neuroquirurguica de urgencia</li>
    <li>Atención integral del trauma</li>
    <li>Pleurotomia con drenaje pleural</li>
    <li>Punciones a cavidades</li>
    <li>Atención del gran quemado; estabilización y traslado a centro de mayor complejidad.</li>
</ul>

<p><b>Horarios de  Atención:</b></p>

<p>Unidad de Urgencia Hospitalaria Mediana y Alta complejidad: 24 horas al día.</p>

<p>Unidad de Urgencia Hospitalaria Baja Complejidad atención 24 horas, con médico permanente de 08:00 a 24:00, luego  de  llamado desde las 24:00 a 08:00.</p>