@{
    ViewBag.Title = "Hospital Manuel Magalhaes Medling";
}

<h2>Hospital Manuel Magalhaes Medling</h2>

<br />

<img src="../../Content/img/huasco.jpg" class="medium left bordered" alt="huasco" />

<br /><br /><br />

<p>
    Canteras 105,<br />
    Ciudad de Huasco, Provincia de Huasco,<br />
    Región de Atacama,<br />
    Chile<br />
</p>

<br /><br /><br /><br />

<h3>Director, Sr. Ignacio Videla Ponce</h3>

<p>El Sr. Ignacio Edmundo Videla Ponce, Ingeniero Comercial y Licenciado en "Ciencias de la 
Administración", MBA en la Universidad Andrés Bello, Diplomado en "Gestión de Abastecimiento"; Entre 
las principales responsabilidades son; estudiar, formular y proponer programas de presupuesto 
financiero anual; la contratación de recursos humanos; distribución de personal administrativo y 
clínico; controlar y evaluar metas y objetivos. Entre sus principales actividades ha sido Académico 
de diversas Universidades a nivel Nacional, Consultor y Asesor de Instituciones públicas como 
privadas.</p>

<h3>Servicios Clínicos y Unidades de Apoyo</h3>

<ul>
    <li>Medicina</li>
    <li>Urgencia</li>
    <li>Policlínicos</li>
    <li>Laboratorio</li>
    <li>Rayos</li>
    <li>UCA</li>
</ul>

<h3>Teléfonos</h3>

<ul>
    <li>Mesa Central: (56-51) 331200</li>
    <li>Informaciones: (56-51) 331201</li>
    <li>OIRS: (56-51) 331208</li>
</ul>

<b>Horarios de visitas:</b> Las 24 horas del día.

<h3>Breve reseña histórica</h3>

<p>El Hospital Manuel Magalhaes Medling, fue fundado el 16 de Marzo de 1967, bajo la presidencia de 
Don Eduardo Frei Montalva. En ese entonces, el Dr. Ramón Valdivieso era Ministro de Salud. El 
Hospital de la comuna de Huasco lleva el Nombre del odontólogo y parlamentario Manuel Magahaes 
Medling, quien nació en la Mina San Pedro Nolasco, Cuba, hoy conocida como Inca de Oro. Da inicio a 
su participación política ingresando al Partido radical, fue alcalde por 16 años de la ciudad de 
Vallenar. También fue diputado por la Provincia de Atacama por cinco períodos y dirigente de los 
abanderados a la presidencia de la república de Pedro Aguirre Cerda, Juan Antonio Ríos y Gabriel 
González Videla. Además fue miembro activo de la Masonería donde ocupó los más altos cargos de su 
Logia. También participó en Royalty Club, bomberos y otras instituciones. En la actualidad el 
Hospital Manuel Magalhaes Medling cuenta con un total de 64 funcionarios. La atención de público es 
abierta en los Servicio de Urgencia, Policlínicos y atención cerrada Hospitalización.</p>