@{
    ViewBag.Title = "Hospital Florencio Vargas Díaz";
}

<h2>Hospital Florencio Vargas Díaz</h2>

<br />

<img src="../../Content/img/diego.jpg" class="medium left bordered" alt="diego" />

<br /><br /><br />

<p>
    Juan Martínez 2200,<br />
    Diego de Almagro, Provincia de Chañaral,<br />
    Región de Atacama,<br />
    Chile
</p>

<br /><br /><br /><br />

<h3>Director, Dra. Elizabeth Henríquez Barrientos</h3>

<p>La Dra. Elizabeth Henríquez Barrientos es médico de ciclo de formación y destinación. Estudió en 
la Universidad de la Frontera de Temuco. Llegó al Hospital Florencio Vargas Díaz en marzo de 2008, y 
desde marzo de 2009 ejerce como su directora.</p>

<h3>Servicios Clínicos</h3>

<ul>
    <li>Servicio de Urgencia</li>
  	<li>Atención Primaria</li>
  	<li>Hospitalización</li>
</ul>

<h3>Unidades de Apoyo</h3>

<ul>
    <li>Servicio de Laboratorio</li>
  	<li>Servicio de Rayos</li>
  	<li>Ecografías</li>
  	<li>Kinesiología</li>
</ul>

<h3>Teléfonos</h3>

<ul>
    <li>Mesa Central: (56-52) 465 500</li>
    <li>Urgencia: (56-52) 465 526</li>
    <li>SOME: (56-52) 465 510</li>
    <li>OIRS: (56-52) 465 509</li>
    <li>Laboratorio: (56-52) 465 544</li>
    <li>Unidad de Traslado: (56-52) 465 508</li>
    <li>Hospitalización: (56-52) 465 519</li>
</ul>

<b>Horarios de visitas:</b> Las 24 horas del día.

<h3>Breve reseña histórica</h3>

<p>El Hospital de Diego de Almagro remonta sus inicios como Consultorio de Atención Primaria en el 
año 1976, dirigido por el doctor Carlos Henríquez Tapia. En 1980 se constituyó en hospital: con 9 
camas, un Servicio de Laboratorio Básico, la UCA,  y un pabellón de partos.</p>
<p>A mediados de 1990 se inicia la ampliación de su infraestructura, y con fecha 9 de junio de 1991 
se inaugura la nueva planta física del Hospital, ampliándose el número de camas a 31 para el servicio 
de Hospitalización. En 1998 el Hospital de Diego de Almagro recibe el nombre de “Florencio 
Vargas Díaz”, en honor al primer Alcalde de la comuna. Su nombramiento como edil se realizó en junio 
de 1972 iniciando el proceso de creación de la comuna de Diego de Almagro, siendo anteriormente la 
localidad de Pueblo Hundido.</p>
<p>Actualmente, el Hospital Florencio Vargas Díaz cuenta con Policlínico de Atención Primaria Adosado 
y con Servicio de Atención Terciaria, siendo el centro de Referencia de las Localidades de El Salvador 
e Inca de Oro. Brinda acciones de salud para el control de personas sanas o con problemas de salud de 
baja complejidad, con el apoyo Diagnóstico (Servicio de Laboratorio, Radiología y  Ecografía) y 
Terapéutico (Kinesioterapia), realizando derivaciones al Hospital de Copiapó.</p>
<p>El Hospital Florencio Vargas Díaz en la actualidad cuenta con un total de 66 funcionarios.</p>