@{
    ViewBag.Title = "Hospital Dr. Jerónimo Méndez Arancibia";
}

<h2>Hospital Dr. Jerónimo Méndez Arancibia</h2>

<br />

<img src="../../Content/img/chañaral.jpg" class="medium left bordered" alt="chañaral" />

<br /><br /><br />

<p>
    Avenida Arturo Prat 1000,<br />
    Ciudad de Chañaral, Provincia de Chañal,<br />
    Región de Atacama,<br />
    Chile
</p>

<br /><br /><br /><br />

<h3>Director, Sr. Moisés Arce Elizondo</h3>

<p>El Sr. Arce Elizondo es Ingeniero Comercial, licenciado en Administración, MBA en la Universidad 
Andrés Bello y Diplomados en Gestión de Calidad y en Comercio Internacional. Entre sus principales 
actividades figura haberse desempeñado durante 4 años como Coordinador Administrativo en el Hospital 
Dr. Jerónimo Méndez de Chañaral perteneciente al Servicio de Salud Atacama. Entre sus principales 
responsabilidades cuentan: estudiar, formular y proponer programas de presupuesto financiero anual; 
la contratación de recursos humanos; distribución de personal administrativo y clínico; controlar y 
evaluar metas y objetivos.</p>

<h3>Unidades de Apoyo Clínico</h3>

<ul>
    <li>Laboratorio</li>
  	<li>Servicio Imagenología</li>
  	<li>Esterilización</li>
  	<li>Kinesiología</li>
  	<li>Central de Alimentación</li>
  	<li>Pabellón</li>
</ul>

<h3>Unidades de Apoyo Administrativo</h3>

<ul>
    <li>Contabilidad</li>
  	<li>Personal</li>
  	<li>Servicios Generales</li>
  	<li>Servicio Social</li>
  	<li>Unidad de Calidad</li>
  	<li>Capacitación</li>
  	<li>Salud Ocupacional</li>
  	<li>Informática</li>
	<li>SOME</li>
</ul>

<h3>Teléfonos</h3>

<ul>
    <li>Mesa Central: (56-52) 465553</li>
    <li>Informaciones - OIRS: (56-52) 465550</li>    
</ul>

<b>Horarios de visitas:</b> Las 24 horas del día.

<h3>Breve reseña histórica</h3>

<p>La construcción del Hospital de Chañaral data del año 1875, siendo sostenida por sus  propios 
habitantes. Uno de los personajes más destacados en esta etapa fue don Federico Varela, industrial 
minero del puerto.</p>
<p>El nombre del Hospital de Chañaral reconoce la labor pública de un médico nacido en Chañaral: don 
Jerónimo Méndez Arancibia, hijo de un esforzado minero que trabajó hasta su muerte en el mineral y 
pueblo de las Ánimas.</p>
<p>Méndez Arancibia fue llamado el Médico de los Pobres, caracterizado respetuosamente con este apodo 
por su labor altruista y de sacrificio en bien de los desposeídos.</p>
<p>En la actualidad la Comuna de Chañaral cuenta con un Hospital cuyas dependencias, infraestructuras, 
equipos e inmobiliarios son  relativamente nuevos. Fue inaugurado el 10 de Agosto de 1995 con la 
presencia del Presidente de la República de entonces don Eduardo Frei Ruiz-Tagle, autoridades 
regionales y locales. Lo destacable es que el nuevo Hospital conserva su nombre en honor a tan 
querido y destacado personaje.</p>
<p>El Hospital Jerónimo Méndez, de Chañaral, es de baja complejidad con atención únicamente de Médicos 
en Etapa de Destinación y Formación. Dependiente del Servicio de Salud Atacama no cuenta con 
patrimonio propio, por lo que sus recursos provienen de éste y, a su vez, del Ministerio de Salud.</p>
<p>En la actualidad cuenta con un total de 68 funcionarios. La atención de público es abierta en el 
Servicio de Urgencia y cerrada en Servicios Clínicos y Hospitalización.</p>