@{
    ViewBag.Title = "Servicio de Salud Atacama";
}

<h2>Programa Infantil</h2>

<p>El Programa de Salud del Niño busca el desarrollo integral y armónico del niño o niña menor 
de 10 años, mediante actividades de fomento, prevención, recuperación de la salud y rehabilitación 
del daño, que permitan la plena expresión de su potencial genético, un desarrollo normal y 
una mejor calidad de vida.</p>

<p>Sus objetivos son:</p>

<ul>
	<li>Contribuir a mejorar la calidad de vida del niño.</li>
	<li>Identificar y disminuir el impacto que tienen sobre la salud del niño los principales 
    factores de riesgo biológicos, ambientales, psicológicos y sociales.</li>
	<li>Mejorar la calidad de la atención de salud del niño y de la niña, en todos los niveles 
    de atención.</li>
	<li>Contribuir a la permanente satisfacción del usuario en las distintas actividades del 
    programa.</li>
	<li>Mantener la tendencia a la disminución de la mortalidad infantil.</li>
	<li>Disminuir la mortalidad del niño de 1 a 10 años.</li>     
</ul>

<img src="../../Content/img/infantil.jpg" alt="infantil" />

<h3>¿Quiénes pueden acceder al programa?</h3>

<p> Todos los niños y niñas menores de 10 años beneficiarios de FONASA y que estén inscritos en los 
Centros de Salud Familiar de la Región de Atacama.</p>

<h3>Vacunas en los Niños</h3>

<p>Programa ampliado de Inmunizaciones:</p>

<p>El servicio de salud  tiene un Programa ampliado de inmunizaciones y erradicación de enfermedades 
prevenibles por vacunas, siendo un derecho de toda la población. Estas vacunas  son obligatorias y 
se colocan en forma gratuita en cualquier consultorio del país. Cada niño debe tener un carné de 
vacunas en el cual debe anotarse la fecha de colocación de la vacuna y la fecha en que corresponde 
colocarle la próxima. Se recomienda no vacunar al niño en caso que se encuentre con fiebre, 
por lo que deberá esperar hasta que ésta desaparezca para llevarlo a recibir su vacuna. 
</p>

<p>El PAI (Programa Ampliado de Inmunizaciones) fijado por el Ministerio de Salud de Chile, fue 
modificado a partir de Julio del 2005, incluyendo las siguientes vacunas.</p>

<table class="data-table">
    <thead>
        <tr>
            <td>
                Edad de Administración
            </td>
            <td>
                Nombre Vacuna
            </td>
            <td>
                Enfermedades que previene
            </td>
        </tr>
    </thead>
    <tr>
        <td>
            Recién Nacido
        </td>
        <td>
            B.C.G.
        </td>
        <td>
            Tuberculosis
        </td>
    </tr>
    <tr>
        <td>
            2, 4 y 6 meses
        </td>            
        <td>
            D.P.T <br />
            Antipolio (O.P.V.) <br />
            Antihemophilus (HIB) <br />
            Hepatitis B
        </td>
        <td>
            Difteria <br />
            Tétano <br />
            Coqueluche <br />
            Poliomelitis <br />
            Infecciones gráves producidas por HIB Mening <br />
            Hepatitis B
        </td>
    </tr>
    <tr>
        <td>
            1 año
        </td>
        <td>
            Trivírica (MMR) la Dosis
        </td>
        <td>
            Sarampión <br />
            Rubeola <br />
            Paperas
        </td>
    </tr>
    <tr>
        <td>
            18 meses
        </td>
        <td>
            Antipolio (O.P.V.) (1er Refuerzo) <br />
            D.P.T. (1er Refuerzo)
        </td>
        <td>
            Poliomelitis <br />
            Difteria <br />
            Tétano <br />
            Coqueluche
        </td>
    </tr>
    <tr>
        <td>
            4 años
        </td>
        <td>
            D.P.T. (2do Refuerzo)
        </td>
        <td>
            Difteria <br />
            Tétano <br />
            Coqueluche
        </td>
    </tr>
    <tr>
        <td>
            1ero Básico (6 años)
        </td>
        <td>
            Trivírica (MMR) (1er Refuerzo)
        </td>
        <td>
            Sarampión <br />
            Rubeola <br />
            Paperas
        </td>
    </tr>
    <tr>
        <td>
            2do Básico
        </td>
        <td>
            Toxoide (D.T.) 1 Dosis
        </td>
        <td>
            Difteria <br />
            Tétano
        </td>
    </tr>
</table>

<p>Debido a la última modificación del programa de vacunas (Julio 2005), a los niños nacidos desde 
Enero del 2005 se les colocará en forma gratuita y obligatoria la vacuna contra la 
Hepatitis B a los 2, 4 y 6 meses de edad.</p>

<p>Es importante conocer el nombre de las vacunas, contra que son y cuando se le deben colocar a 
los niños, para ello   se detalla a continuación las vacunas y sus características.</p>

<ol>
 <li>BCG: <p>Esta vacuna se pone al nacer El recién nacido no se puede ir del hospital sin esta 
 vacuna contra la tuberculosis y en primer año básico de administra una dosis de refuerzo.</p></li>

<li>DPT: <p>Esta vacuna corresponde a 2, 4 y 6 meses, luego a los 18 y a los 4 años. Esta vacuna es 
contra de la difteria, contra el tétano y contra la tos convulsiva coqueluche.</p></li>

<li>ANTIPOLIO: <p>Esta vacuna se  coloca a los 2, 4 y seis meses, luego a los 18 y a los 4 años. Es 
para la enfermedad de la poliomielitis.</p></li>

<li>HIB:<p>Esta vacuna  se coloca a los 2, 4 y 6 meses, es para la Haemophilus Influenza 
tipo B</p></li>

<li>TRESVIRICA:<p>Esta vacuna se administra a los 12 meses  y en primer año básico, es contra la 
enfermedad del Sarampión, Papera y  Rubéola.</p></li>

<li>TOXOIDE DT:<p>Esta vacuna se pone en segundo año básico, es contra la enfermedad de la Difteria y 
Tétanos</p></li>
</ol>

<h3>Reacciones Secundarias de las Vacunas</h3>

<p>Algunos niños pueden presentar reacciones secundarias a las vacunas, las cuales pueden aparecer 
en las horas o días próximos a la colocación. Generalmente son hinchazón y enrojecimiento de la 
zona de vacunación, fiebre y malestar general. Es recomendable que en caso de presentarse estos 
síntomas, se le  a beber al niño  abundante líquido, se le  coloquen compresas frías en el lugar 
donde fue vacunado y además se le de algún  antipirético o analgésico que le halla 
recomendado el  doctor.</p>