@{
    ViewBag.Title = "Servicio de Salud Atacama";
}

<h2>Programa IRA</h2>


<h3>Objetivo General del Programa IRA</h3>

<p>El objetivo general del Programa abarca dos aspectos:</p>
<ul>
    <li>La morbimortalidad por infecciones respiratorias agudas en el niño y adolescente.</li>
    <li>Aumentar el diagnóstico de asma bronquial infantil y tratarla adecuadamente.</li>
</ul>

<h3>Objetivos Específicos del Programa IRA</h3>
<br />
<ul>
    <li>Reducir la mortalidad por neumonía en menores de 1 año (con énfasis en la disminución de la mortalidad domiciliaria).</li>
    <li>Disminuir las hospitalizaciones por SBO.</li>
    <li>Reducir el uso de fármacos inapropiados (en especial el uso irracional de antibióticos).</li>
    <li>Fortalecer el rol de la Atención Primaria en el manejo de estos cuadros.</li>
</ul>

<h2>Programa ERA</h2>

<p>Las enfermedades respiratorias se mantienen en Chile entre las principales causas de morbilidad y de mortalidad en todas las edades. Este escenario epidemiológico fundamentó la implementación por parte del Ministerio de salud para la población adulta, del programa de Control de las Enfermedades Respiratorias del Adulto, programa  nacional que  enfrenta las patologías respiratorias del adulto de mayor prevalencia como lo son el EPOC y  Asma, con acciones coordinadas entre los 3 niveles de atención por lo que es  ejecutado tanto en los Hospitales como en los Establecimientos de Salud Primaria de la red asistencial.</p>

<img src="../../Content/img/ira.jpg" alt="ira" />

<h3>Objetivo General del Programa ERA</h3>

<p>El objetivo general del Programa abarca dos aspectos:</p>
<ul>
    <li>Reducir la mortalidad y la letalidad de las ERA en Chile.</li>
    <li>Mejorar la calidad de vida de los pacientes con enfermedades respiratorias cónicas.</li>
</ul>

<h3>Objetivos Específicos del Programa ERA</h3>
<br />
<ul>
    <li>Dotar a los Centros de Salud con Salas de Apoyo Respiratorio del Adulto (SARA) para diagnostican tratar y rehabilitar de acuerdo a las normas a pacientes con enfermedades respiratorias agudas y crónicas, particularmente en la Atención Primaria.</li>
    <li>Mejorar la capacidad resolutiva del nivel primario de atención, con el fin de aumentar el nivel de satisfacción de la población usuaria de los Servicios de Salud.</li>
    <li>Promover y desarrollar a mediano plazo acciones específicas para disminuir la prevalencia del Tabaquismo en la población.</li>
</ul>

<h2>Programa de Rehabilitación Integral</h2>

<p>Desde su aprobación oficial el Programa de Rehabilitación abarca los siguientes 4 componentes: Artrosis, Rehabilitación con Base Comunitaria (RBC), Rehabilitación Integral, y Equipos de Rehabilitación Rural. De estos el que más destaca por su desarrollo y modalidad de intervención es el modelo de Rehabilitación con Base Comunitaria, el cual  “constituye una estrategia de desarrollo comunitario para la rehabilitación, equiparación de oportunidades e integración social de todas las personas con discapacidad. Se lleva a cabo por medio de los esfuerzos combinados de las propias personas discapacitadas, de sus familias y comunidades, y de los servicios de salud, educativos, sociales y de carácter laboral correspondientes.”</p>


<h3>Objetivo General del Programa</h3>

<p>Mejorar la calidad de vida de las personas en situación de discapacidad permanente o transitoria, y sus familias, permitiendo el acceso a ambos a un proceso de prevención de discapacidad, tratamiento y rehabilitación, facilitando su inclusión social y reduciendo la proporción de personas que presentan limitaciones funcionales y dolor crónico en relación a patologías osteomusculares.</p>

<h3>Objetivos Específicos del Programa</h3>
<br />
<ul>
    <li>Desarrollar estrategias de rehabilitación integradas funcionalmente a la atención primaria de salud bajo un enfoque biopsicosocial y familiar.</li>
    <li>Asumir progresivamente la atención integral de las personas en situación de discapacidad leve, transitoria o definitiva, y apoyar el manejo terapéutico de las personas en situación de discapacidad moderada y sus familias, en el contexto comunitario.</li>
    <li>Desarrollar programas de prevención de discapacidades, promoción de la actividad física y mantención de la funcionalidad a lo largo del ciclo vital.</li>
    <li>Desarrollar las competencias de los equipos de salud, en particular de profesionales de rehabilitación y médicos generales y de salud familiar, para resolver las necesidades de los usuarios portadores de síndromes dolorosos de origen osteomuscular y mejorar la oportunidad de las derivaciones a especialistas.</li>
</ul>