@{
    ViewBag.Title = "Servicio de Salud Atacama";
}

<h2>Programa de la Mujer</h2>

<h3>¿Qué es?</h3>

<p>Es un Programa que incorpora una serie de actividades para contribuir al desarrollo integral, 
físico, mental y social de la mujer, en todas las etapas de su vida (pre reproductivo, 
reproductivo y post reproductiva).</p>

<p><b>Destinatarios:</b> Mujeres en todas las etapas de su ciclo vital.</p>

<img src="../../Content/img/mujer.jpg" alt="mujer" />

<h3>Objetivo principal del programa:</h3>

<p>Contribuir al desarrollo  integral, físico, mental y social de la mujer, en todas las etapas de 
su ciclo vital y en aspectos relacionados con la salud propia de su género, con un enfoque de 
riesgo, desde el ámbito de la promoción,  prevención, recuperación, rehabilitación y autocuidado 
de su salud.</p>

<p>Subprogramas Vigentes:</p>
<ul>
    <li>Pesquisa y control del Cáncer de Mama.</li>
    <li>Pesquisa y control del Cáncer Cérvico-uterino.</li>
</ul>

<h3>Principales prestaciones  del programa o subprogramas de salud de la mujer:</h3>

<p>Nivel primario:</p>

 <ul>
   <li>Control prenatal.</li>
   <li>Control de puerperio.</li>
   <li>Control de regulación de fecundidad.</li>
   <li>Consulta de morbilidad obstétrica y ginecológica.</li>
   <li>Consejería en salud sexual y reproductiva.</li>
   <li>Actividades de salud mental.</li>
   <li>Entrega de complemento nutricional (PNAC).</li>
   <li>Visita domiciliaria.</li> 
   <li>Talleres para embarazadas y sus familias.</li>
   <li>Promoción y educación para la salud.</li>
</ul>

<p>Nivel secundario:</p> 
 
 <ul>
    <li>Consulta especializada de reproducción.</li>
    <li>Consulta de alto riesgo obstétrico - perinatal.</li>
    <li>Consulta de morbilidad ginecológica.</li>
 </ul>

<p>Nivel terciario:</p> 
 
 <ul>
    <li>Consulta de urgencia en ginecología y obstetricia.</li>
    <li>Atención personalizada del parto.</li>
    <li>Hospitalización por parto y puerperio.</li>
    <li>Hospitalización por morbilidad gíneco-oncológica.</li>
    <li>Hospitalización por aborto.</li> 
 </ul>

<h3>Lugares de prestaciones:</h3>

<p>Nivel primario:</p>

<ul>
    <li>CESFAM</li>
    <li>Consultorios generales rurales.</li>
    <li>Postas rurales de salud.</li>
    <li>Hospitales comunitarios Huasco y Diego de Almagro.</li>
</ul>

<p>Nivel secundario y terciario:</p>

<ul>
    <li>Consultorios de  atención de especialidad- (CAE Hospital 	Vallenar).</li>
	<li>Centro de diagnóstico terapéutico (CDT Hospital Copiapó).</li>
    <li>Unidades de Patología Cervical.</li>
    <li>Unidades de Patología Mamaria.</li>
</ul>