@{
    ViewBag.Title = "Nutricion";
}

<h2>Nutrición</h2>

<h3>Objetivo General</h3>

<p>Proteger la salud de la población fomentando hábitos alimentarios saludables y asegurando el 
consumo de alimentos inocuos y de buena calidad nutricional, a través de la articulación de la 
Red Asistencial para cumplir con las políticas Nacionales y Regionales de Nutrición y Alimentación 
desde la perspectiva del la intervención en el Ciclo Vital.</p>

<p>El Ministerio de Salud tiene en este ámbito tiene como objetivo proteger la salud de la población 
fomentando hábitos alimentarios saludables y asegurando el consumo de alimentos inocuos y de buena 
calidad nutricional.  En pro de la consecución de este objetivo desarrolla normativas y programas 
para controlar los factores, elementos o agentes presentes en los alimentos, que representen riesgo 
para la salud de los consumidores y/o que puedan incidir de manera gravitante en el perfil de 
morbi-mortalidad.</p>

<img src="../../Content/img/nutricion.jpg" alt="nutricion" />

<h3>Estrategias:</h3>

<ul>
    <li>Conformar los comités comunales de Nutrición y Alimentación</li>
    <li>Insertar la Consejería en Vida Sana en todos los controles habituales de la mujer y del 
    niño(a) y Adulto.</li>
    <li>Instaurar, como conducta relevante, la vigilancia del aumento de peso excesivo durante 
    el embarazo.</li>
    <li>Promover la recuperación del estado nutricional pre gestacional y post gestacional.</li>
    <li>Promover la  lactancia materna exclusiva hasta los 6 meses de vida.</li>
    <li>Educar en alimentación y oportunidad del destete.</li>
    <li>Intervención Alimentaria y Nutricional oportuna en las etapas tempranas del ciclo vital.</li>
</ul>

<h3>Programa   Alimentación saludable y Actividad Física (PASAF) en el Ciclo Vital 2011</h3>

<h3>Objetivo General</h3>

<p>Disminuir los factores de riesgo cardiovascular asociados al síndrome metabólico en esta 
población, para contribuir a la prevención de enfermedades crónicas.</p>

<h3>Objetivos Específicos</h3>

<ul>
    <li>Mejorar condición nutricional.</li>
    <li>Mejorar condiciones asociadas a:</li>
    <ul>
 	    <li>Hipertensión arterial</li>
 	    <li>Dislipidemias</li>
 	    <li>Intolerancia a glucosa de ayuno</li>
    </ul>
    <li>Mejorar la condición física, en términos de capacidad funcional muscular y aeróbica.</li>
</ul>

<h3>Marco Contextual</h3>
    
<p>La Obesidad es una enfermedad crónica, la cual consiste en la acumulación anormal o excesiva del 
tejido graso  que se traduce en u mayor riesgo de mortalidad y morbilidad al gatillar enfermedades 
cardiovasculares, la obesidad se entiende como una  epidemia creciente a nivel mundial y nacional, 
se calcula que para el año  2015 habrá aproximadamente 2300 millones de adultos con sobrepeso y más 
de 700 millones con obesidad, de acuerdo a la última encuesta de salud, en adultos la prevalencia 
de un 22% esta patología se presenta más en mujeres que en hombres (25% y 19% respectivamente). 
En Chile nos aproximamos cada vez más a 4 millones de personas obesas.</p>

<p>Con relación a la resistencia insulínica, esta  es una condición fisiopatológica asociada a la 
obesidad, caracterizada por una respuesta insuficiente o ausente de los tejidos periféricos a la 
acción de la insulina, los trastornos endocrinometabólicos y cardiovasculares conocidos como 
síndrome metabólico (SM), se caracterizan  por obesidad abdominal, dislipidemia, hipertensión 
arterial, intolerancia a la glucosa (IG) o resistencia insulínica, los cuales, determinan un mayor 
riesgo de diabetes y enfermedad cardiovasculares.</p>

<p>Este Programa trabajará con base a una canasta de Servicios profesionales y batería de exámenes, 
que permitirán detectar factores de riesgo e intervenirlos en forma oportuna y a través de programas 
de actividad física localizados  y consejería de alimentación saludable.</p>