@{
    ViewBag.Title = "Servicio de Salud Atacama";
}

<h2>Programa de Salud Odontológico</h2>

<p>La Salud Bucal es reconocida como una de las prioridades de salud del país, tanto por la 
prevalencia y severidad de las enfermedades bucales como por la  mayor percepción de la población 
frente a estas patologías que afectan su salud general y su calidad de vida.</p>

<h3>Objetivo General</h3>

<p>La Política de Salud Bucal está orientada a la prevención y promoción de la Salud Bucal de la 
población, con énfasis en los grupos más vulnerables. Considera además actividades recuperativas 
en grupos priorizados mediante acciones costo efectivas basadas en la mejor evidencia disponible.</p>

<h3>Garantías Explícitas en Salud Odontológicas (GES/AUGE)</h3>


<h4>Fisura de Labio y/o en el Paladar</h4>

<p>Esta garantía, es para todos los beneficiarios nacidos desde el 01 de Julio de 2005, quienes 
tendrán acceso a confirmación diagnóstica y tratamiento, incluyendo rehabilitación en menores de 
15 años.</p>

<img src="../../Content/img/odontologico01.PNG" alt="odonto1" />

<ol>
    <li><b>Diagnóstico:</b> Si se sospecha que su recién nacido sufre esta malformación, se garantiza 
    la confirmación o el descarte del problema dentro de 15 días</li>
    <li><b>Tratamiento Integral:</b> Una vez que se ha confirmado el diagnóstico, el menor tiene 
    acceso a:

        <ul>
            <li>Ortopedia Prequirúrgica: Si se le ha indicado, dentro de 45 días desde el nacimiento</li>
            <li>Cirugía Primaria: Primera intervención y Segunda intervención, dentro de 30 días 
            desde la indicación médica</li>
            <li>Cirugía Secundaria: Dentro de 60 días desde la indicación médica</li>
        </ul>
    </li>
</ol>

<h4>Salud Oral Integral a los 6 Años</h4>

<p>La Salud Oral Integral, consiste en una atención dental de nivel básico o primario, que está 
dirigida a educar, prevenir y tratar precozmente al niño de 6 años, para mantener una buena 
salud bucal.</p>

<img src="../../Content/img/odontologico02.PNG" alt="odonto2" />

<p>A los 6 años, comienzan a erupcionar los dientes definitivos. Es necesario hacer un diagnóstico 
oportuno que permita planificar la conservación de los dientes de leche hasta su exfoliación natural 
(es decir, hasta que se caigan por si solos). También es necesario aplicar medidas de prevención en 
los dientes definitivos recién erupcionados o pesquisar tempranamente patologías para su 
recuperación y la entrega de información apropiada para  el cuidado de la salud bucal.</p>

<p><b>Acceso:</b> Los niños y niñas beneficiarios de 6 años, tienen acceso a tratamiento, mientras el 
beneficiario tenga 6 años. El alta odontológica se otorga una vez erupcionados los 4 primeros molares 
definitivos.</p>

<p>El inicio del tratamiento se debe hacer dentro de 90 días desde la solicitud de la persona 
beneficiaria o su representante.</p>

<h4>Urgencia Odontológica</h4>
 	 
<p>Las Urgencias odontológicas, son un conjunto de enfermedades buco máxilo faciales, que aparecen 
súbitamente, son de causa múltiple, y se manifiestan principalmente por dolor agudo, y que provocan 
una demanda espontánea de atención.</p>

<img src="../../Content/img/odontologico03.PNG" alt="odonto3" />

<img src="../../Content/img/odontologico04.PNG" alt="odonto4" />

<p><b>Acceso a Tratamiento:</b> Todo beneficiario con sospecha de tener Abscesos (infección con 
aumento de volumen) de espacios anatómicos de la zona bucal, de los maxilares y de la cara y flegmón 
(infección con aumento de volumen) de la zona de la boca, cuello y cara de causa odontológica, 
tendrá acceso a la atención de urgencia.</p>

<p>Todo beneficiario con confirmación diagnóstica de los siguientes casos, tendrá acceso a tratamiento:
 inflamación de la pulpa dentaria, infección dolorosa con inflamación de los tejidos blandos que se 
 encuentran alrededor de un diente que está parcialmente erupcionado, infección dolorosa con 
 inflamación y necrosis de la encía, complicaciones después de haberse realizado una extracción 
 dentaria (hemorragia e inflamación del alvéolo), Traumatismos dentarios y del hueso que rodea al 
 diente.</p>

<p>El Tratamiento debe ser inmediato desde la confirmación diagnóstica.</p>

<h4>Salud Oral Integral en Adulto de 60 Años</h4>

<p>La Salud Oral Integral del adulto de 60 años, consiste en una atención odontológica realizada por 
el Dentista, según las necesidades, y está dirigida a educar, prevenir, recuperar y rehabilitar la 
salud bucal del adulto de 60 años.</p>

<p><b>Tratamiento:</b> Todo beneficiario de 60 años tiene acceso tratamiento odontológico. La 
solicitud de atención debe realizarla en el consultorio o centro de salud mientras tenga 60 años. 
El alta odontológica, se otorga una vez completados los procedimientos de promoción, prevención, 
recuperación y rehabilitación que requiera la persona.</p>

<p>El tratamiento, comenzará dentro de 90 días desde la solicitud de atención.</p>

<h4>Salud Oral Integral en la Embarazadaz</h4>
  
<p>La Salud Oral Integral de la Embarazada, consiste en una atención odontológica realizada por el 
dentista, según necesidades, dirigida a  educar, prevenir, recuperar y rehabilitar la salud bucal de 
la mujer embarazada.</p>

<p><b>Acceso:</b> Toda mujer con confirmación de su condición de embarazo, tendrá acceso a tratamiento 
dental integral dentro de 21 días de iniciada la solicitud de atención.</p>

<p>El alta integral (término del tratamiento), se podrá otorgar hasta 9 meses después de ocurrido 
el parto.</p>