@{
    ViewBag.Title = "Servicio de Salud Atacama";
}

<h2>Oficina de Informaciones, Reclamos, Sugerencias y Felicitaciones (OIRS)</h2>

<h3>Misión</h3>

<p>Ser un espacio de participación, interacción y acceso de las personas a todas las instituciones 
que correspondan al sector Salud, con la finalidad de garantizar el derecho de los ciudadanos sin 
discriminación, a informarse, sugerir, reclamar y/o felicitar, acerca de las materias propias del 
sector, en un marco de respeto a todas las personas que constituyen el medio y la finalidad de las 
acciones del sector y de una atención de excelencia</p>

<h3>Funciones de la OIRS</h3>

<p>Las tareas propias de las oficinas de información, reclamos y sugerencias (OIRS) son:</p>

<p>Informar sobre:</p>

<ul>
    <li>Servicios, competencia, funcionamiento y horarios que presta cada repartición.</li>
    <li>Requisitos para obtener la prestación o servicio.</li>
    <li>Formalidades para el acceso.</li>
    <li>Plazos para la tramitación de la prestación o servicio.</li>
    <li>Documentación y antecedentes que deben acompañar la solicitud.</li>
    <li>Procedimientos para la tramitación.</li>
    <li>Ubicación, competencia y horarios de otras entidades de la Administración pública.</li>
    <li>Prioridades gubernamentales.</li>
    <li>Personas responsables de los procedimientos.</li>
</ul>

<p><b>Atender a los interesados:</b> Cuando encuentren dificultades en la tramitación de sus asuntos 
y requieran saber en qué estado de avance se encuentra su solicitud dentro del servicio.</p>

<p><b>Orientar a los interesados:</b> En todas las materias relacionadas con los servicios del sector 
y en la competencia de otros organismos de la Administración pública.</p>

<p><b>Recibir y estudiar sugerencias:</b> A fin de mejorar el funcionamiento de la Oficina o la 
calidad de los servicios que entrega la institución.</p>

<p><b>Recibir responder y/o derivar reclamos:</b> Para garantizar a la los ciudadanos puedan expresar 
sus solicitudes y quejas a las autoridades y a los organismos competentes.</p>

<p><b>Registrar las solicitudes ciudadanas:</b> Con el fin de identificar el perfil del usuario, 
categorizar las solicitudes, ofrecer un servicio focalizado, retroalimentar la gestión de la 
institución y mejorar los niveles de satisfacción.</p>

<p><b>Realiza encuestas y mediciones:</b> Sobre la satisfacción de los usuarios respecto a la calidad 
de la atención y las expectativas de éstos al acercarse a los servicios.</p>
            
<p><b>Establecer coordinación con dispositivos de información y comunicación:</b> Tanto con los 
pertenecientes al propio sector como con aquellas reparticiones con las que exista relación.</p>

<p><b>Publicar la carta de derechos ciudadanos de la institución:</b> Este documento, elaborado por 
la institución, deberá ser difundido en la OIRS u otras instancias de atención de público, para 
consignar los derechos y deberes de los usuarios respecto a la Institución, los plazos estipulados 
por cada tarea, los medios de verificación a través de los cuales éstos se pueden hacer efectivos.</p>

<p><b>Las OIRS, para cumplir adecuadamente su función, deben cumplir con una serie de formalidades, 
a saber:</b></p>

<ul>
    <li>Procesos formales para la derivación de las solicitudes, evitando que el ciudadano(a) tenga 
    que recorrer varias oficinas en una repartición para obtener una respuesta o manifestar su 
    opinión frente alguna materia.</li>
    <li>Registro y seguimiento de las atenciones, pudiendo así, transparentar el estado en el cual 
    se encuentra una solicitud cuando un usuario(a) consulta.</li>
    <li>Aplicación de metodologías de atención que respeten los derechos ciudadanos, considerando el 
    trato en el momento mismo de la atención.</li>
    <li>Difusión en base a planes anuales, es decir, que año a año las instituciones planifican 
    las actividades de difusión que realizarán y la forma en que se facilitará el acceso ciudadano 
    a la información a través de las OIRS. Esta difusión se mide y se evalúa, mejorando su eficacia.</li>
    <li>Evaluar y planificar acciones correctivas, ya sea a través de encuestas de satisfacción de 
    usuarios(as) y el estudio del perfil de los mismos y la evolución de sus demandas.</li>
</ul>

<h3>Tipificación de las Consultas Ciudadanas</h3>

<p>Podemos identificar y clasificar las distintas solicitudes ciudadanas, dependiendo de su 
naturaleza, complejidad y destino de derivación para sus respuestas.</p>

<p><b>Consulta:</b> Corresponde a demandas de orientación e información sobre derechos y beneficios, 
trámites, puntos de acceso, etc. Pueden resolverse en forma inmediata en la propia OIRS.</p>

<p><b>Solicitud:</b> Solicitudes específicas de ayuda o asistencia concreta que permiten solucionar 
un problema de necesidad o carencia puntual: Requiere una gestión específica del funcionario de la 
OIRS, y, eventualmente en coordinación con otra unidad o servicio.</p>

<p><b>Sugerencia:</b> Es aquella proposición, idea o iniciativa, que ofrece o presenta un ciudadano 
para incidir o mejorar un proceso cuyo objeto está relacionado con la prestación o acción de un 
servicio. Es importante difundirla a los directivos para ser considerada en la toma de decisiones 
sobre modificaciones técnicas y administrativas orientadas a mejorar la calidad de los servicios 
y la satisfacción usuaria.</p>

<p><b>Felicitaciones:</b> Manifestación concreta de agradecimiento o felicitación a un funcionario 
o equipo de funcionarios de una Institución por la calidad de servicio prestado. Al igual que las 
sugerencias, es importante que sea de conocimiento de directivos, equipos y funcionarios involucrados.</p>

<p><b>Denuncia:</b> Es la manifestación de descontento o disconformidad frente a una conducta irregular 
desde uno o varios funcionarios de una Institución o establecimiento del sector Salud, la qué 
obligará a una respuesta formal de la institución. Por ejemplo: malos actos, robos, extravío de 
documentos, probable negligencia médica u otros actos de falta de probidad administrativa. 
En algunos casos, además de los directivos, será necesaria la actuación de auditoría interna; 
se llevará a cabo sumario interno o investigación sumaria; o bien, otros procedimientos 
dependiendo de la naturaleza de la denuncia.</p>

<p><b>Reclamo:</b> Es aquella solicitud en donde el ciudadano exige, reivindica o demanda una solución 
a una situación en que considera se han vulnerado sus derechos ciudadanos en salud. Ej.: calidad 
de atención, acceso, cobertura financiera, demora en tramitación de resoluciones sanitarias, 
subsidios por licencias médicas, prestación indebida de un servicio sanitario, la atención 
inoportuna de una solicitud; etc.)</p>

<p>Una adecuada gestión de los reclamos implica planificación, procedimientos y personal capacitado 
con actitud empática y de servicio, para su adecuado reporte, manejo, tratamiento y resolución en 
la instancia correspondiente.</p>