@{
    ViewBag.Title = "Participacion";
}

<h2>Participacion Social</h2>

<p>La línea de Participación Social recoge los procesos desarrollados en la vinculación de la Red 
del Servicio con la comunidad organizada y no organizada e integra los elementos priorizados por el 
Ministerio de Salud en el documento de orientaciones 2007 (Ord. Nº 877 del 27 de marzo 2007).</p>

<p>A partir de estas orientaciones, se identifica una gran estrategia que apunta a relevar y 
fortalecer la Transversalización de la Participación Social en el Modelo de Atención.</p>

<p>En una democracia que empodera a sus ciudadanos, los ciudadanos y ciudadanas exigen que las 
políticas públicas tengan sentido también para cada uno de ustedes. No es suficiente una decisión 
técnicamente bien fundada. Tan importante como que sea buena técnicamente, es que sea comprendida, 
compartida y, por tanto, legitimada por las personas. Afirmamos, entonces, que en muchos ámbitos de 
lo público, como dice aquí, "es mejor con participación"; la unidad de participación Social del 
Servicio de Salud Atacama, de acuerdo a lo establecido en la ley Nº 20.285 – Ley Sobre acceso a la 
Información Publica, ha elaborado esta guía y compartir con ustedes algunos conocimientos básicos 
respecto al enfoque de una salud participativa.</p>

<p>Este documento se ha diseñado, con el fin de orientar  los ciudadanos en las políticas que se 
realizan a nivel regional, además de entregar herramientas a los usuarios de nuestra Red hospitalaria 
y de los Establecimientos de atención Primaria de Atacama.</p>

<h3>Presupuestos Participativos</h3>

<p><b>¿Qué son los presupuestos participativos en salud?</b></p>

<p>Los presupuestos participativos son un mecanismo de participación ciudadana orientado a promover 
una mayor incidencia de los ciudadanos y organizaciones comunitarias en los procesos de planificación, 
ejecución y evaluación de las actividades de planificación que se orientan a mejorar la calidad de 
vida de la población beneficiaria de la red asistencial.</p>
            
<p>Los Presupuestos participativos constituyen además un instrumento que permite a los ciudadanos de 
un territorio determinado, tener acceso a los mecanismos y espacios de toma de decisión respecto a de 
donde y en que se gasta parte de los recursos económicos del Servicio de Salud Atacama. Es por tanto, 
un espacio de co-gestión, donde la comunidad tiene incidencia en la asignación de recursos en un 
sector determinado.</p>

<p>Para el sector salud, constituyen una oportunidad para propender a mejorar los niveles de 
coordinación en la gestión del Modelo de Atención Familiar, Comunitario y en Red a partir de su 
participación en diversas instancias orientadas a mejorar la implementación de las políticas 
públicas en los establecimientos de salud, especialmente aquellas que vinculan a ciudadanos y 
organizaciones sociales con una mayor apropiación en la promoción, prevención, participación 
social y satisfacción usuaria.</p>