@{
    ViewBag.Title = "PESPI";
}

<h2>PESPI</h2>

<h3>Introducción</h3>

<p>El concepto de salud intercultural dice relación con las prestaciones de salud de los diversos 
grupos étnicos de nuestro país, con el objetivo de mejorar la salud de la población indígena mediante 
la eliminación de barreras culturales y la ampliación del acceso a los servicios públicos.</p>

<p>A nivel nacional, este Programa ha impulsado y realizado una serie de actividades y proyectos; 
entre ellos destacan la implementación de espacios para la atención de machis y componedores de 
huesos en postas y consultorios, y el fortalecimiento de la medicina indígena, como rescate de 
hierbas medicinales, encuentros de agentes de salud y apoyo a especialistas en medicina indígena.</p>

<p>Al igual que en el resto del país, en nuestra Región de Atacama el Programa pretende fortalecer las 
bases de un modelo de salud intercultural que combine los conocimientos ancestrales de la medicina, 
con las nuevas tecnologías y tratamientos existentes.</p>

<img src="../../Content/img/pespi.jpg" alt="pespi" />

<h3>Los avances en Atacama 2010</h3>

<p>El Programa, que busca el apoyo, rescate y respeto por las iniciativas en materia de salud de las 
etnias indígenas de la Región, ha trabajado con estas organizaciones y establecimientos de salud desde 
el año 2000, entregando recursos que han ido incrementándose desde entonces, apoyando las propuestas e 
iniciativas de las Asociaciones Indígenas locales de las etnias Colla, Diaguitas y multiétnias, y las 
de los Departamentos de Salud Municipales de la Región.</p>

<h3>Logros 2010</h3>

<p><b>Organizaciones Indígenas</b> de nuestra región, por un total de $40.000.000 millones de pesos 
a distribuir el año 2010. Obteniendo un 77.% de los dineros asignados a la región $ 7.207.000 pesos 
14% de los dineros asignados a  los Establecimientos de la Red asistencial  de Atacama.</p>

<h3>Grandes Éxitos</h3>

<p>El transversalizar el tema de la medicina ancestral, permitiendo que los  Dpto. de Salud Copiapó, 
Vallenar y Freirina  incorporen en uno de sus establecimientos el trabajo con medicina alternativa 
Apiterapia pacientes Crónicos compensados, postrados severos, establecimiento CESFAM Juan Martínez 
trabajo con hierbas con pacientes que presentan depresión leve y moderada de Salud Mental, CESFAM 
Joan Crawford Vallenar,   y de rehabilitación osteomuscular, CEKAM -CESFAM Freirina.</p>