@{
    ViewBag.Title = "Servicio de Salud Atacama";
}

<h2>Programas de Salud</h2>

<p>Un programa de salud es un conjunto de acciones implementadas por el gobierno con el objetivo de 
mejorar las condiciones de salud de la población. De esta forma, las autoridades promueven campañas 
de prevención y garantizan el acceso democrático y masivo a los centros de atención.</p>

<p>El programa de salud es un instrumento para operacionalizar las políticas de salud 
a través de la planeación, ejecución y evaluación de acciones de promoción, prevención, tratamiento y 
recuperación de la salud.</p>

<p>Existen distintos tipos de programas de salud. Por ejemplo, según el área geográfica de aplicación, 
un programa de salud puede ser nacional, provincial o municipal. Los programas también pueden estar 
destinados a satisfacer las necesidades de un campo específico de la salud.</p>