@{
    ViewBag.Title = "Servicio de Salud Atacama";
}

<h2>Programa de Salud Mental</h2>

<h3>Objetivo General del Programa</h3>

<p>Satisfacer las necesidades de salud mental de la población a través del modelo de salud 
mental comunitario.</p>

<h3>Objetivos Específicos del Programa</h3>

<ul>
    <li>Responder a las necesidades de fomento, promoción y prevención de la salud mental.</li>
    <li>Entregar atención oportuna y de la calidad de las personas afectadas por trastornos 
    de salud mental.</li>
</ul>

<p>Áreas  Prioritarias:</p>

<ul>
    <li>Trastornos Depresivos.</li>
    <li>Violencia intrafamiliar.</li>
    <li>Trastornos Mentales severos.</li>
    <li>Trastornos por Consumo de Alcohol y drogas.</li>
</ul>

<h3>Depresión: Un problema de salud que tiene tratamiento</h3>

<p>Podemos sentirnos apenados o afligidos, cuando nos ocurre algo triste o negativo.
Esto no debe confundirse con la Depresión.
La Depresión dura más tiempo y es como cualquier otra enfermedad.</p>

<p>¿Cómo saber si tengo depresión?</p>

<ul>
    <li>Afecta los sentimientos: andar muy triste, afligida(o) y angustiada(o), con miedo 
    e inseguridad, a veces más irritable y con inquietud.</li>
    <li>Afecta los pensamientos: ideas pesimistas, sentirse inútil, con culpas y fallas de
memoria, indecisa(o), desesperanzada(o), y a veces pensamientos de que no vale la pena vivir.</li>
    <li>Afecta el ánimo: desgano, sin fuerzas, decaimiento, lentitud, cansancio. La salud 
    física: problemas con el sueño, baja de peso, dolores de espalda, de cabeza, 
    molestias de estómago o de brazos y piernas.</li>
</ul>

<p>¿Cuándo consultar?</p>

<ul>
    <li>¿Se ha sentido triste o deprimido la mayor parte del tiempo, casi todo el tiempo?</li>
    <li>¿Ha estado desinteresado o incapaz de disfrutar  la vida la mayor parte del 
    tiempo, casi todos el día?</li>
    <li>¿Ha tenido problemas para dormir, casi todas las noches?</li>
    <li>¿Se ha sentido cansado o con menos energía  la mayor parte del tiempo, casi todos los días?</li>
    <li>¿Ha notados problemas de concentración o de memoria, casi todos los días?</li>
    <li>¿Ha estado inquieto que no puede permanecer sentado, casi todos los días?</li>
    <li>¿Ha sentido que no es tan hábil o capaz como otra gente, casi todos los días?</li>
    <li>¿Se ha sentido culpable, casi todos los días?</li>
    <li>¿Ha notado un cambio importante en el apetito? (más o menos)</li>
    <li>¿Ha notado un cambio d peso de mas de 4 kilos (aumento o disminución)</li>
    <li>¿Ha pensado realmente que la vida no vale la pena?</li>
    <li>¿Ha pensado en quitarse la vida?</li>
</ul>

<ul>
    <li>Depresión leve: presencia de al menos dos síntomas.</li>
    <li>Depresión moderada: por lo menos uno de los dos primeros y cuatro de los restantes.</li>
    <li>Depresión grave: los criterios de la moderada más otros síntomas.</li>
</ul>

<p>¿Si tengo éstos síntomas a dónde acudir?</p>

<p>Deberá acudir a su centro de salud (CES) o CESFAM más cercano en el cual será atendido 
por equipo multidisciplinario compuesto por Médico, Asistente Social, Psicóloga.</p>

<p>La Depresión forma parte de las Garantías Explicitas en Salud (GES), para las personas 
mayores de 15 años.</p>

<h3>Alcohol y drogas:</h3>

<p>¿Cómo  saber si la forma en que consumo es un problema?.</p>

<p>Es un problema cuando la forma en que se consume alcohol y/o drogas, preocupa a las 
personas que están a nuestro alrededor. Esta preocupación surge de lo que se está 
consumiendo (alcohol, pasta base, cocaína, marihuana, etc)  y la forma en que se 
consume (solo, todos los días, hasta perder el conocimiento, en el trabajo, etc). Además es 
un problema cuando intenta dejar de consumir y no tiene la voluntad para ello a pesar de 
los problemas que le genera.</p>

<p>¿Cuándo consultar?</p>

<p>En el caso de los adolescentes y embarazadas, siempre por el riesgo.</p>

<p>En el caso de los adultos para el consumo de alcohol existe el cuestionario AUDIT que se 
encuentra a continuación:</p>

<table class="data-table">
    <thead>        
        <tr>
            <td>Pregunta</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>Puntos</td>
        </tr>
    </thead>
    <tr>
        <td>
            1. ¿Con qué frecuencia consume alguna bebida alcohólica?
        </td>
        <td>
            Nunca
        </td>
        <td>
            Una o menos veces al mes
        </td>
        <td>
            De 2 a 4 veces al mes
        </td>
        <td>
            De 2 a 3 veces a la semana
        </td>
        <td>
            4 o más veces a la semana
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            2. ¿Cuántas unidades estándar de bebida alcohólicas suele beber en un día de consumo normal?
        </td>
        <td>
            1 o 2
        </td>
        <td>
            3 o 4
        </td>
        <td>
            5 o 6
        </td>
        <td>
            De 7 a 9
        </td>
        <td>
            10 o más
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            3. ¿Con qué frecuencia toma 6 o más bebidas alcohólicas en un solo día?
        </td>
        <td>
            Nunca
        </td>
        <td>
            Menos de una vez al mes
        </td>
        <td>
            Mensualmente
        </td>
        <td>
            Semanalmente
        </td>
        <td>
            A diario o casi a diario
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            4. ¿Con qué frecuencia en el curso del último año ha sido incapaz de parar de beber
            una vez había empezado?
        </td>
        <td>
            Nunca
        </td>
        <td>
            Menos de una vez al mes
        </td>
        <td>
            Mensualmente
        </td>
        <td>
            Semanalmente
        </td>
        <td>
            A diario o casi a diario
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            5. ¿Con qué frecuencia en el curso del último año no pudo hacer lo que se esperaba
            de usted porque había bebido?
        </td>
        <td>
            Nunca
        </td>
        <td>
            Menos de una vez al mes
        </td>
        <td>
            Mensualmente
        </td>
        <td>
            Semanalmente
        </td>
        <td>
            A diario o casi a diario
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            6. ¿Con qué frecuencia en el curso del último año ha necesitado beber en ayunas
            para recuperarse después de haber bebido mucho el día anterior?
        </td>
        <td>
            Nunca
        </td>
        <td>
            Menos de una vez al mes
        </td>
        <td>
            Mensualmente
        </td>
        <td>
            Semanalmente
        </td>
        <td>
            A diario o casi a diario
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            7. ¿Con qué frecuencia en el curso del último año ha tenido remordimientos o 
            sentimientos de culpa después de haber bebido?
        </td>
        <td>
            Nunca
        </td>
        <td>
            Menos de una vez al mes
        </td>
        <td>
            Mensualmente
        </td>
        <td>
            Semanalmente
        </td>
        <td>
            A diario o casi a diario
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            8. ¿Con qué frecuencia en el curso del último año no ha podido recordar lo que 
            sucedió la noche anterior porque había estado bebiendo?
        </td>
        <td>
            Nunca
        </td>
        <td>
            Menos de una vez al mes
        </td>
        <td>
            Mensualmente
        </td>
        <td>
            Semanalmente
        </td>
        <td>
            A diario o casi a diario
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            9. ¿Usted o alguna otra persona ha resutado herido porque usted había bebido?
        </td>
        <td>
            No
        </td>
        <td></td>
        <td>
            Si, pero no en el curso del último año
        </td>
        <td></td>
        <td>
            Si, el último año
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            10. ¿Algún familiar, amigo, médico o profesional sanitario ha mostrado preocupación 
            por un consumo de bebidas alcohólicas o le ha sugerido que deje de beber?
        </td>
        <td>
            No
        </td>
        <td></td>
        <td>
            Si, pero no en el curso del último año
        </td>
        <td></td>
        <td>
            Si, el último año
        </td>
        <td></td>
    </tr>
    <tfoot>
        <tr>
            <td colspan="6" align="right">
                TOTAL
            </td>
            <td></td>
        </tr>
    </tfoot>    
</table>

<p>Una Unidad estándar de bebida alcohólica es equivalente a:</p>

<ul>
    <li>1 botella o lata individual de cerveza (330 a 350 cc) ó</li>
    <li>1 vaso de vino (aproximadamente 150cc) o,</li>
    <li>1 trago de licor solo o combinado (45 cc de licor) Considere pisco, ron, whisky, vodka 
    u otros similares.</li>
</ul>

<p><b>Embriaguez:</b> es cuando se produce algún grado de inestabilidad o torpeza de 
movimientos por efectos del beber. Equivale a sentirse "mareado", "algo cocido", "curado" 
o "pasado".</p>

<p>Si su puntuación es:</p>

<ul>
    <li>De 0 a 7 : Ud. parece beber en forma responsable.</li>
    <li>De 8 a 15: Ud. parece estar usando el alcohol en un nivel de riesgo.</li>
    <li>De 16 a 19: Ud. parece estar en un nivel de problemas con su manera de beber.</li>
    <li>De 20 y más: Su forma de beber es un riesgo.</li>
</ul>

<p>Respecto del consumo de otras sustancias (pasta base, marihuana, cocaína, etc) siempre es un 
problema y se debe consultar.</p>

<p>¿Dónde pedir ayuda?</p>

<p>Deberá acudir a su centro de salud (CES) o CESFAM más cercano en el cual será atendido por 
un equipo multidisciplinario compuesto por Médico, Asistente Social, Psicóloga.</p>

<h3>Discapacidad psíquica.</h3>

<p>¿Qué es la discapacidad psíquica?</p>

<p>Cuando una persona presenta  una enfermedad mental que le provoca  dificultades para 
desenvolverse en la vida diaria y requiere del  cuidado u orientación de otras personas.</p>

<p>¿Qué hacer si una persona con discapacidad psíquica se  torna en un peligro para sí misma 
o para terceros?</p>

<p>Dependiendo del caso se puede acudir directamente al Servicio de Urgencia y/o solicitar 
atención directamente con su médico tratante a fin de evaluar la condición del paciente 
para una reevaluación de su  tratamiento.</p>

<p>¿Qué tratamiento se les otorga a las personas con discapacidad psíquica?</p>

<p>Tratamiento integral que incluye atención por  psiquiatra,  enfermera, psicólogo, 
terapeuta ocupacional, asistente social y  monitores. Además, estos pacientes pueden ser 
integrados a diferentes modalidades de rehabilitación  dependiendo del nivel de discapacidad.</p>

<img src="../../Content/img/mental.jpg" alt="mental" />