@{
    ViewBag.Title = "SAMU";
}

<h2>Servicio SAMU 131</h2>

<h3>Funcionamiento</h3>

<p>Brindar atención prehospitalaria, básica o avanzada, en vía pública o domicilio de
acuerdo a las diferentes urgencias que se presentan.</p>

<p>El llamado de urgencia es recepcionado en el Centro Regulador, donde la operadora
solicita datos precisos para definir el tipo de urgencia. De acuerdo a esto se despacha móvil
básico o avanzado hacia el lugar solicitado.</p>

<h3>Horario de Atención</h3>

<p>El SAMU funciona las 24 horas horas del día y durante los 365 días del año.</p>

<p>El SAMU sólo funciona en la comuna de Copiapó.</p>

<h3>Dotación de Ambulancias</h3>

<p>El SAMU cuenta con una dotación de 07 móviles; 02 móviles avanzados, 04 móviles
básicos y uno para traslados secundarios.</p>

<h3>Fono de Urgencia</h3>

<p>El número de urgencia único es el 131.</p>