@{
    ViewBag.Title = "SAPU";
}

<h2>Carteras de Servicios de Atención Primaria de Urgencia (SAPU)</h2>

<br />

<ul>
    <li>Consulta médica integral de urgencia</li>
    <li>Atención kinesiológica sala IRA</li>
    <li>Atención por enfermera(o)</li>
    <li>Atención por paramédico</li>
    <li>Vacunaciones</li>
    <li>Vacuna antirrábica</li>
    <li>Vacuna antitetánica</li>
    <li>Misceláneos</li>
    <li>Curación quemados</li>
    <li>Curación simple ambulatoria</li>
    <li>Curación compleja por enfermero(a)</li>
    <li>Inhaloterapia</li>
    <li>Nebulización</li>
    <li>Oxigenoterapia</li>
    <li>Control de temperatura</li>
    <li>Control de presión arterial</li>
    <li>Tratamiento inyectable im</li>
    <li>Tratamiento inyectable iv</li>
    <li>Monitoreo signos vitales</li>
    <li>Saturometría</li>
    <li>Sutura heridas no complicadas</li>
    <li>Colocación de sonda folley</li>
    <li>Colocación de sonda nelaton</li>
    <li>Colocación de férula inmovilizadora temporal</li>
    <li>Aspiración de secreciones orales o vía respiratoria</li>
    <li>Cirugía menor (onisectomía parcial y total)</li>
    <li>Fleboclisis</li>
    <li>Extracción de cuerpo extraño</li>
    <li>Colocación SNG</li>
</ul>

<p><b>Horarios de Atención:</b></p>

<p>SAPU Corto;	(Mellibovsky, Joan Crawford y Palomar) atención de 17:00 a 24:00 horas.</p>

<p>SAPU Largo;	Caldera; horario de atención, médico residente las 24 horas.</p>
