@{
    ViewBag.Title = "Servicio de Salud Atacama";
}

<h2>Programa Control de la Tuberculosis</h2>

<p>El Programa de Control de la Tuberculosis, es un Programa de Salud Nacional descentralizado, 
con el objetivo reducir significativamente la posibilidad que las personas puedan infectarse, 
enfermar y morir a causa de esta enfermedad.</p>

<p>Se realizan acciones preventivas en la Red Asistencial:</p>

<ul>
    <li>Vacunación BCG (recién nacido)</li>
    <li>Exámenes de diagnostico</li>
    <li>Tratamiento</li>
    <li>Visita Domiciliaria</li>
    <li>Estudio de contacto</li>
</ul>

<h3>Datos estadísticos</h3>

<p>La enfermedad de tuberculosis es un problema de Salud Pública en la Región de Atacama. En 
Chile, en el año 2010 tuvo una tasa de 12.1 casos por 100 mil habitantes, en el mismo período, 
la región tuvo 13,5 por 100 mil hab. No logrando llegar a la Meta “Eliminación Avanzada” 
(10 por 100 mil hab.) para año 2010.</p>

<h3>Acciones</h3>

<p>Para enfrentar esta situación epidemiológica, el programa tiene organizado un equipo de salud 
en cada comuna que interviene en la  búsqueda de sintomáticos respiratorios y grupos de riesgo 
(sintomático respiratorio, adulto mayor, Diabetes Mellitus, VIH, extranjeros, etnias, recintos 
penitenciarios, hogares de acogida, pacientes antiguos tratados por tuberculosis), con la 
finalidad de cortar la cadena de transmisión, porque un tuberculoso puede contagiar más ó menos 
a 10 personas por año si no está en tratamiento.</p>

<h3>Conozca más sobre la Tuberculosis</h3>

<p>¿Qué es la Tuberculosis?</p>

<p>La Tuberculosis es una enfermedad contagiosa que daña especialmente a los pulmones, pero 
puede comprometer cualquier otro órgano. Es causada por la bacteria llamada Mycobacterium 
tuberculosis o Bacilo de Koch.</p>

<p>¿Cómo se transmite?</p>

<p>De una persona enferma a persona sana, cuando los microbios pasan desde los pulmones 
enfermos a los sanos por el aire a través de la tos ó estornudos, a través de la tos, en el 
desgarro se expulsan gotitas que en su interior llevan los microbios.</p>

<img src="../../Content/img/tuberculosis.jpg" alt="tuberculosis" />

<p>¿Cuáles son los síntomas?</p>

<ul>
    <li>Tos y expectoración ó desgarro por más de 15 días</li>
    <li>Decaimiento</li>
    <li>Baja de peso</li>
    <li>Pérdida de apetito</li>
</ul>

<p>¿Cómo se descubre?</p>

<p>Con un examen de expectoración llamado baciloscopia. Acuda al Consultorio más cercano a su 
domicilio.</p>

<p>¿En qué consiste el tratamiento de la tuberculosis pulmonar?</p>

<p>Consiste en una asociación de medicamentos por un período de 6 meses para eliminar el bacilo 
de Koch. Los medicamentos son gratuitos y son administrados en forma diaria en el Consultorio.</p>

<p>¿Quiénes pueden enfermar?</p>

<ol>
    <li>Las personas que viven con un enfermo de tuberculosis pulmonar que no está en tratamiento</li>
    <li>Las personas que tienen otras enfermedades como:
        <ul>
    	    <li>Tos más de 15 días</li>
            <li>Diabetes</li>
	        <li>Alcoholismo</li>
	        <li>Consumo de drogas</li>
	        <li>Desnutrición</li>
	        <li>VIH/SIDA</li>
        </ul>
    </li>
</ol>