@{
    ViewBag.Title = "Urgencia";
}

<h2>Resumen Ejecutivo Red de Urgencia</h2>

<p>La red de Urgencia conformó, el año 2004, un  Comité de Urgencia Regional conformado por las 
Unidades de Urgencia Hospitalarias, SAPU, SUR y Rescate Prehospitalaria de la tercera Región; la 
justificación de este se desprende de los siguientes objetivos:</p>

<ul>
    <li>Articular la Red Asistencial de Urgencia</li>
    <li>Cumplir con los compromisos Ministeriales</li>
    <li>Mejorar el acceso a las prestaciones de riesgo vital en aquellos pacientes que lo requieran.</li>
</ul>

<p>Las funciones de este comité que condujo las actividades inherentes a las emergencias, urgencias 
fueron las siguientes:</p>

<ul>
    <li>Establecer lineamientos  estratégicos para la elaboración del Plan Anual de desarrollo de la 
    Red de Urgencia  de Atacama.</li>
    <li>Evaluar Plan  Anual de desarrollo de la Red de Urgencia con indicadores de estructura, proceso 
    y resultado.</li>
    <li>Determinar áreas prioritarias  de Capacitación  que deben generar el Programa de Capacitación 
    de la red de Urgencia  de Atacama.</li>
    <li>Analizar propuestas de mejora en la Red de Urgencia Regional, emanadas del COMUR de la 
    provincia de Huasco y COMUR de las provincias de Copiapó - Chañaral.</li>
    <li>Sancionar estas propuestas, presentarlas al Gestor de Redes quién, en última instancia, 
    enviará los proyectos  a los organismos pertinentes para su aprobación final.</li>
    <li>Análisis y propuesta al CIRA de los  compromisos Regionales y Ministeriales que comprometan 
    la articulación y funcionamiento de la Red de Urgencia Regional.</li>
    <li>Análisis  e informe, a las instancias correspondientes, de los indicadores comprometidos en la 
    Red de Urgencia.</li>
    <li>Supervisión Técnica del funcionamiento de la Red de Urgencia Regional.</li>
    <li>Estudio de las fuentes de financiamiento existentes a nivel Nacional y Regional para 
    elaboración y presentación de proyectos a nivel Regional, Provincial y local.</li>
</ul>