@{
    ViewBag.Title = "Servicio de Salud Atacama";
}

<h2>Programa VIH</h2>

<h3>¿Qué tengo que hacer para hacerme el examen del VIH?</h3>

<p>Debes acudir al establecimiento (consultorio) más cercano a tu domicilio o donde estés inscrito y 
solicitar hora con un profesional. Este profesional puede ser un médico, matrona o enfermera. Durante 
la atención, podrás solicitarle la realización del examen, recibiendo la orden correspondiente. 
Recuerda que el examen de VIH debe realizarse previa Consejería, en la cual debes firmar un documento 
llamado Consentimiento Informado, aceptando la toma de la muestra y comprometiéndote a retirar el 
resultado, cuando te lo indiquen. En caso que no estés inscrito en el establecimiento, este proceso 
se hará en el mismo momento en que solicites la hora para la atención profesional.</p>

<h3>¿Qué detecta el examen del VIH?</h3>

<p>El examen detecta los anticuerpos que el organismo produce frente a la presencia de virus. 
Internacionalmente se ha establecido un período de tres meses después de adquirido el virus como el 
tiempo en que la mayoría de las personas desarrollan anticuerpos anti VIH detectables por el examen. 
Al tiempo que transcurre desde que una persona adquiere el VIH hasta que el organismo crea los 
anticuerpos suficientes para ser detectados, se le denomina Período de Ventana.</p>
  	 
<h3>¿Para qué realizarse el examen?</h3>
  	
<p>Realizarse el examen de detección del VIH para saber si se ha adquirido el virus y para iniciar 
tempranamente los controles de salud y tratamiento cuando sea necesario. Si el resultado es negativo, 
indica que no se ha adquirido la infección y permite mantener o implementar conductas preventivas.</p>

<h3>¿Dónde realizarse el examen?</h3>

<table class="data-table" style="width: 85%">
    <tr>
        <td rowspan="10">COPIAPO</td>
        <td>
            Clínica Dental Móvil (Copiapó) <br />
            Chacabuco N°520, 2° Piso
        </td>
    </tr>
    <tr>
        <td>
            Hospital San José del Carmen (Copiapó) <br />
            Los Carrera N° 1320
        </td>
    </tr>
    <tr>
        <td>
            Centro de Salud Salud Familiar Santa Elvira <br />
            Los Aromos N° S/N
        </td>
    </tr>
    <tr>
        <td>
            Centro de Salud Familiar Juan Martínez <br />
            Avda. Batallón Atacama N° S/N
        </td>
    </tr>
    <tr>
        <td>
            Centro de Salud Familiar Pedro León Gallo <br />
            Flora Normilla N° 1007
        </td>
    </tr>
    <tr>
        <td>
            Centro de Salud Familiar Rosario-Palomar <br />
            Chacabuco N° 671
        </td>
    </tr>
    <tr>
        <td>
            Consultorio Candelaria Rosario <br />
            Vallenar N° S/N Pob. Rosario
        </td>
    </tr>
    <tr>
        <td>
            Centro de Salud Familiar Manuel Rodríguez <br />
            Luis Flores N° S/N
        </td>
    </tr>
    <tr>
        <td>
            Centro de Salud Familiar Paipote <br />
            Avda. Las Delicias N° S/N
        </td>
    </tr>
    <tr>
        <td>
            Centro de Salud Familiar Dr. Bernardo Mellibovsky <br />
            Avda. Los Loros N° S/N
        </td>
    </tr>

    <tr>
        <td rowspan="10">VALLENAR</td>
        <td>
            Hospital Provincial del Huasco Monseñor Fernando Ariztía Ruiz (Vallenar) <br />
            Merced N° S/N
        </td>
    </tr>
    <tr>
        <td>
            Centro de Salud Familiar Estación <br />
            Ramírez N° S/N (Esquina Erasmo Escala)
        </td>
    </tr>
    <tr>
        <td>
            Centro de Salud Familiar Hermanos Carrera <br />
            Avda. Lautaro N° S/N
        </td>
    </tr>
    <tr>
        <td>
            Centro de Salud Familiar Baquedano <br />
            Avda. Perú N° S/N
        </td>
    </tr>
    <tr>
        <td>
            Centro de Salud Familiar Joan Crawford Astudillo <br />
            Avda. España N° S/N
        </td>
    </tr>
    <tr>
        <td>
            Posta de Salud Rural Domeyko <br />
            Pedro Cuadra N° S/N, Aldea de Domeyko
        </td>
    </tr>
    <tr>
        <td>
            Posta de Salud Rural Hacienda Ventanas <br />
            Sector Hacienda Ventanas
        </td>
    </tr>
    <tr>
        <td>
            Posta de Salud Rural Cachiyuyo <br />
            Dr. Aravena N° S/N, Caserío de Cachiyuyo
        </td>
    </tr>
    <tr>
        <td>
            Posta de Salud Rural Incahuasi <br />
            Luis Pasteur N° S/N, Caserío de Inaguasi
        </td>
    </tr>
    <tr>
        <td>
            Posta de Salud Rural Hacienda Compañía <br />
            Aldea Hacienda Compañía
        </td>
    </tr>

    <tr>
        <td rowspan="5">HUASCO</td>
        <td>
            Hospital Dr. Manuel Magalhaes Medling (Huasco) <br />
            Canteras N° 105
        </td>
    </tr>
    <tr>
        <td>
            Consultorio Juan Verdaguer <br />
            Maipú N° S/N (esquina Las Heras)
        </td>
    </tr>
    <tr>
        <td>
            Posta de Salud Rural Carrizal Bajo <br />
            Caserío Carrizal Bajo
        </td>
    </tr>
    <tr>
        <td>
            Posta de Salud Rural Canto del Agua <br />
            Caserío Canto del Agua
        </td>
    </tr>
    <tr>
        <td>
            Posta de Salud Rural Jeremías Cortés
            Sector Pedro Aguirre Cerda
        </td>
    </tr>

    <tr>
        <td rowspan="3">DIEGO DE ALMAGRO</td>
        <td>
            Hospital Dr. Florencio Vargas (Diego de Almagro) <br />
            Juan Martínez N° 2200
        </td>
    </tr>
    <tr>
        <td>
            Consultorio El Salvador <br />
            Cobresal N° 2508
        </td>
    </tr>
    <tr>
        <td>
            Posta de Salud Rural Inca de Oro <br />
            Francisco San Román N° S/N, Aldea Inca de Oro
        </td>
    </tr>
    
    <tr>
        <td rowspan="3">CHAÑARAL</td>
        <td>
            Hospital Dr. Jerónimo Méndez Arancibia (Chañaral) <br />
            Dr. Luis Herrera N° S/N
        </td>
    </tr>
    <tr>
        <td>
            Centro de Salud Familiar Dr. Luis Herrera <br />
            Merino Jarpa N° S/N (esquina Casimiro Domeyko)
        </td>
    </tr>
    <tr>
        <td>
            Posta de Salud Rural El Salado de Chañaral <br />
            Gral. Bonilla s/n, Pueblo El Salado
        </td>
    </tr>
</table>

<h3>Definición</h3>

<p>El virus de la inmunodeficiencia humana (VIH) es un lentivirus (de la familia Retroviridae). 
Fue descubierto y considerado como el agente de la naciente epidemia de sida por el equipo de 
Luc Montagnier en Francia en 1983. El virión es esférico, dotado de una envoltura y con una 
cápside proteica. Su genoma es una cadena de ARN monocatenario que debe copiarse provisionalmente 
al ADN para poder multiplicarse e integrarse en el genoma de la célula que infecta. Los 
antígenos proteicos de la envoltura exterior se acoplan de forma específica con proteínas de 
la membrana de las células infectables, especialmente de los linfocitos T4.</p>

<h3>FONOSIDA: 800-378-800</h3>

<a href="http://www.quientienesida.cl" target="_blank">
    <img src="../../Content/img/wallpapers3.jpg" alt="vih" />
</a>